n8n/workflows/3xBpTfBaI2pbWuOb.json
{
  "updatedAt": "2026-03-23T07:29:51.452Z",
  "createdAt": "2026-03-23T06:23:35.495Z",
  "id": "3xBpTfBaI2pbWuOb",
  "name": "Ensure Context Cache is on Gemini",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "11b93258-89d4-4b38-9909-1cd9f5bc678d",
              "leftValue": "={{ $json.gemini_cache_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "feb1715e-7949-4df5-b8fc-63a2aa05c0c2",
              "leftValue": "={{ new Date($now).getTime() - new Date($json.gemini_cached || $now).getTime() > ($('Start').first().json.gemini_cache_lifetime_sec || 20)*1000}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2384,
        3768
      ],
      "id": "1ae0acb8-f076-4086-98a3-4bdfa72f4813",
      "name": "If"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "storage_api_host"
            },
            {
              "name": "organisation_id"
            },
            {
              "name": "gemini_cache_lifetime_sec",
              "type": "number"
            },
            {
              "name": "document_uris",
              "type": "array"
            },
            {
              "name": "system_prompt"
            },
            {
              "name": "gemini_url"
            },
            {
              "name": "gemini_model"
            }
          ]
        }
      },
      "id": "fa03db8c-53ab-4621-9453-e2bfafbcd071",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1712,
        3768
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.storage_api_host }}/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1936,
        3768
      ],
      "id": "eaef53be-e3de-417e-9ad4-90144f129b2f",
      "name": "Auth Storage API",
      "credentials": {
        "httpCustomAuth": {
          "id": "OEvqdznOMAiGoZPr",
          "name": "Storage API Get Token"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Start').first().json.storage_api_host }}/collections/organisations/records/{{ $('Start').first().json.organisation_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "gemini_cache_name,gemini_cached"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2160,
        3768
      ],
      "id": "a416ad4c-d1da-4639-8be7-52e639690458",
      "name": "Storage API - Get Artifact",
      "credentials": {
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Start').first().json.storage_api_host }}/collections/organisations/records/{{ $('Start').first().json.organisation_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "gemini_cache_name"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "gemini_cache_name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "gemini_cached",
              "value": "={{ new Date($json.updateTime) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2832,
        3696
      ],
      "id": "1893f464-14a4-463d-8f20-a3157561a5c0",
      "name": "Storage API - Update Artifact",
      "credentials": {
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3056,
        3768
      ],
      "id": "57c76c73-9763-44ef-9b81-b19a4728149b",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Start').first().json.gemini_url }}/cachedContents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $('Start').item.json.gemini_model }}\",\n  \"contents\": [\n    {\n      \"parts\": {{ JSON.stringify($('Start').first().json.document_uris.map(uri => ({\n  \"file_data\": {\n    \"mime_type\": \"application/pdf\",\n    \"file_uri\": uri\n  }\n}))) }},\n      \"role\": \"user\"\n    }\n  ],\n  \"systemInstruction\": {\n    \"parts\": [\n      {\n        \"text\": {{ JSON.stringify($('Start').first().json.system_prompt) }}\n      }\n    ]\n  },\n  \"ttl\": \"{{ $('Start').item.json.gemini_cache_lifetime_sec }}s\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2608,
        3696
      ],
      "id": "0ec7c74f-4620-467b-9d9f-ecf4791f394d",
      "name": "Cache Context",
      "credentials": {
        "googlePalmApi": {
          "id": "7EY3kWdzHSKXrfnm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Cache Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Auth Storage API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Storage API": {
      "main": [
        [
          {
            "node": "Storage API - Get Artifact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Get Artifact": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Artifact": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Context": {
      "main": [
        [
          {
            "node": "Storage API - Update Artifact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "25c502bc-dda7-49a4-8be5-9ca8ad71d1e1",
  "activeVersionId": "25c502bc-dda7-49a4-8be5-9ca8ad71d1e1",
  "versionCounter": 44,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-23T06:23:35.498Z",
      "createdAt": "2026-03-23T06:23:35.498Z",
      "role": "workflow:owner",
      "workflowId": "3xBpTfBaI2pbWuOb",
      "projectId": "MLrAMrYp6Pd9fMCA",
      "project": {
        "updatedAt": "2026-03-23T06:16:28.555Z",
        "createdAt": "2026-03-23T06:15:24.033Z",
        "id": "MLrAMrYp6Pd9fMCA",
        "name": "Po Man CHENG <poman+n8n@outlook.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a53db5d5-be10-41da-aa5f-38590a7aa9ac"
      }
    }
  ]
}