n8n/workflows/dM945Azme2TNMwoX.json
{
  "updatedAt": "2026-04-19T08:15:54.000Z",
  "createdAt": "2026-01-31T19:05:16.465Z",
  "id": "dM945Azme2TNMwoX",
  "name": "Download PDF",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2464,
        3376
      ],
      "id": "3444c831-311a-4f9d-a03a-cd7c150c948a",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "storage_api_host"
            },
            {
              "name": "pdf_api_host"
            },
            {
              "name": "download_url"
            },
            {
              "name": "output_text_format"
            },
            {
              "name": "compress_trigger_size_mb",
              "type": "number"
            }
          ]
        }
      },
      "id": "4fe0072e-7413-4e16-9041-ea768087eeb6",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        448,
        3360
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Start').first().json.download_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        3360
      ],
      "id": "148f5469-b1ba-4c05-8a6a-c5a1494f84c4",
      "name": "Download PDF",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f817ca1f-59bf-48eb-8821-dabf49901f9d",
              "leftValue": "={{ $('Start').first().json.output_text_format }}",
              "rightValue": "markdown",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        3472
      ],
      "id": "0a23b168-a43a-4d80-93bc-cbb886726c21",
      "name": "If output markdown"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Start').first().json.pdf_api_host }}/api/v1/convert/pdf/markdown",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.CREDENTIALS_PDF_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2240,
        3376
      ],
      "id": "92bc7d1f-5350-4b8f-ae4d-fa72df7d5d19",
      "name": "PDF to Markdown"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Start').first().json.pdf_api_host }}/api/v1/convert/pdf/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.CREDENTIALS_PDF_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            },
            {
              "name": "outputFormat",
              "value": "txt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        3568
      ],
      "id": "0a322337-9e6b-4bc7-9da4-fde24cf4867a",
      "name": "PDF to Text"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2240,
        3568
      ],
      "id": "66c53d64-4453-4cb9-8639-d98dcd79c79b",
      "name": "Text to Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Start').first().json.storage_api_host }}/collections/source_artifacts/records ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=url",
              "value": "={{ $('Start').first().json.download_url }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "raw",
              "inputDataFieldName": "=pdf"
            },
            {
              "parameterType": "formBinaryData",
              "name": "text",
              "inputDataFieldName": "md"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2912,
        3376
      ],
      "id": "25b0ddac-089b-49ad-9fe7-358b1f80e1e3",
      "name": "Storage API - Create Downloaded-Files Record",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { binary: { data: pdf } } = $input.all()[0];\nconst { binary: { data: md } } = $input.all()[1];\n\nreturn {\n  ...$input.first(),\n  binary: {\n    pdf, md\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        3376
      ],
      "id": "6b940140-1c85-413a-b4b7-92698288f4cc",
      "name": "Merge Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Start').first().json.storage_api_host }}/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        3360
      ],
      "id": "0353456d-0c7c-4a7b-b4cd-d86699582210",
      "name": "Auth Storage API",
      "credentials": {
        "httpCustomAuth": {
          "id": "OEvqdznOMAiGoZPr",
          "name": "Storage API Get Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nreturn {\n  bufferSize: buffer.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        3088
      ],
      "id": "dec6d348-b29a-4c47-8c99-199e656227da",
      "name": "Get File Size (in Bytes)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Start').first().json.pdf_api_host }}/api/v1/misc/compress-pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.CREDENTIALS_PDF_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            },
            {
              "name": "expectedOutputSize",
              "value": "={{ `${($('Start').first().json.compress_trigger_size_mb || 40)}MB` }}"
            },
            {
              "name": "optimizeLevel",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        3088
      ],
      "id": "691fc8e0-ea04-4907-814e-f8434d94ae92",
      "name": "Compress PDF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0fe56d48-d563-4239-b8f3-24d116277adb",
              "leftValue": "={{ $json.bufferSize }}",
              "rightValue": "={{ ($('Start').first().json.compress_trigger_size_mb || 40) * 1024 * 1024 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        3168
      ],
      "id": "58bcb187-980e-4060-b11d-d59c3ae5952d",
      "name": "If size > 40MB"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        3168
      ],
      "id": "516e8d00-f6f3-447f-b1ba-416515afd9c9",
      "name": "Pass PDF Binary"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2240,
        3168
      ],
      "id": "f79a497f-1644-4909-b16f-0891aeb38f17",
      "name": "PDF (Compressed of not)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Start').first().json.pdf_api_host }}/api/v1/misc/flatten",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.CREDENTIALS_PDF_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            },
            {
              "name": "flattenOnlyForms",
              "value": "false"
            },
            {
              "name": "renderDpi",
              "value": "150"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        3168
      ],
      "id": "2ded1401-eae8-4a14-b71f-5c261113da1e",
      "name": "Flatten PDF"
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Merge Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Auth Storage API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Flatten PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "If output markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If output markdown": {
      "main": [
        [
          {
            "node": "PDF to Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF to Markdown": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PDF to Text": {
      "main": [
        [
          {
            "node": "Text to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text to Binary": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Storage API - Create Downloaded-Files Record": {
      "main": [
        []
      ]
    },
    "Merge Binary": {
      "main": [
        [
          {
            "node": "Storage API - Create Downloaded-Files Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Storage API": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Size (in Bytes)": {
      "main": [
        [
          {
            "node": "Pass PDF Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress PDF": {
      "main": [
        [
          {
            "node": "PDF (Compressed of not)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If size > 40MB": {
      "main": [
        [
          {
            "node": "Compress PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF (Compressed of not)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pass PDF Binary": {
      "main": [
        [
          {
            "node": "If size > 40MB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF (Compressed of not)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten PDF": {
      "main": [
        [
          {
            "node": "Get File Size (in Bytes)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pass PDF Binary",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5d9eefb4-740d-4036-a989-a8365e5f586d",
  "activeVersionId": "5d9eefb4-740d-4036-a989-a8365e5f586d",
  "versionCounter": 91,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-23T06:15:26.459Z",
      "createdAt": "2026-03-23T06:15:26.459Z",
      "role": "workflow:owner",
      "workflowId": "dM945Azme2TNMwoX",
      "projectId": "MLrAMrYp6Pd9fMCA",
      "project": {
        "updatedAt": "2026-03-23T06:16:28.555Z",
        "createdAt": "2026-03-23T06:15:24.033Z",
        "id": "MLrAMrYp6Pd9fMCA",
        "name": "Po Man CHENG <poman+n8n@outlook.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a53db5d5-be10-41da-aa5f-38590a7aa9ac"
      }
    }
  ]
}