n8n/workflows/KyDtBHSVI5wyX2KM.json
{
  "updatedAt": "2026-03-04T05:43:40.000Z",
  "createdAt": "2026-02-19T06:26:38.190Z",
  "id": "KyDtBHSVI5wyX2KM",
  "name": "Prepare Prompts",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt_file_paths",
              "type": "array"
            },
            {
              "name": "injection_dict",
              "type": "object"
            }
          ]
        }
      },
      "id": "889996b7-df23-45de-ab4e-271a473528ba",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -2400,
        5072
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.prompt_file_paths }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1952,
        5072
      ],
      "id": "c01b9307-d86e-4e02-baf0-5e53107c5f14",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "template_text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1728,
        5072
      ],
      "id": "fe2f37fe-1992-400b-a7a4-8859f56425cf",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "prompt_file_paths",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2176,
        5072
      ],
      "id": "04bae59b-4960-4d70-9da5-58e3de41456f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "template_text",
              "renameField": true,
              "outputFieldName": "template_texts"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1504,
        5072
      ],
      "id": "3243920f-76cf-4daf-aabe-e6986e5afde0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "function inject(template_text, injection_dict) {\n  let template = template_text;\n  const injectionDict = injection_dict || {};\n\n  for (const [key, value] of Object.entries(injectionDict)) {\n    const regex = new RegExp(`\\\\{\\\\{${key}\\\\}\\\\}`, 'g');\n    template = template.replace(regex, String(value));\n  }\n\n  return template;\n}\n\nconst zip = (arr1, arr2) => arr1.map((val, i) => [val, arr2[i]]);\n\nfor (const [item, startItem] of zip($input.all(), $('Start').all())) {\n  item.json.injected_prompts = item.json.template_texts.map(\n    template_text => inject(\n      template_text,\n      startItem.json.injection_dict\n    )\n  );\n  delete item.json.template_texts;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        5072
      ],
      "id": "a07c052d-963b-4857-b625-771965b7255d",
      "name": "Inject"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Inject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "edb922c5-0e46-4aa9-a357-ce8022e05840",
  "activeVersionId": "edb922c5-0e46-4aa9-a357-ce8022e05840",
  "versionCounter": 29,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-04T05:43:37.869Z",
      "createdAt": "2026-03-04T05:43:37.869Z",
      "role": "workflow:owner",
      "workflowId": "KyDtBHSVI5wyX2KM",
      "projectId": "ahlxS08nMbIwdOx6",
      "project": {
        "updatedAt": "2026-03-04T05:44:11.914Z",
        "createdAt": "2026-03-04T05:43:36.484Z",
        "id": "ahlxS08nMbIwdOx6",
        "name": "Po Man CHENG <poman+n8n@outlook.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "656877c8-8570-425f-8dcc-f0e6bc32d4ff"
      }
    }
  ]
}