n8n/workflows/SUjUpjve9Vj6aJSbbuIWL.json
{
  "updatedAt": "2026-04-03T17:54:23.461Z",
  "createdAt": "2026-01-21T04:40:29.603Z",
  "id": "SUjUpjve9Vj6aJSbbuIWL",
  "name": "Charity Analysis",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.storage_api_host }}/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1376,
        2736
      ],
      "id": "934c210b-630c-45b3-909a-c4da1c7a6a5b",
      "name": "Auth Storage API",
      "credentials": {
        "httpCustomAuth": {
          "id": "OEvqdznOMAiGoZPr",
          "name": "Storage API Get Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://storage_api:8090/api/collections/organisations/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Vars - Input Data').item.json.organization_name }}"
            },
            {
              "name": "analysis_batch_id",
              "value": "={{ $('Vars - Input Data').item.json.analysis_batch_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        2736
      ],
      "id": "a50cd0b8-833b-465a-9162-dbfaed610310",
      "name": "Storage API - Try to Create Charity Record",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "organization_name",
              "value": "={{ $json.query.organisation_name }}"
            },
            {
              "name": "analysis_batch_id",
              "value": "={{ $json.query.analysis_batch_id }}"
            }
          ],
          "boolean": [
            {
              "name": "force_rerun",
              "value": "={{ $json.query.force_rerun || false }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Vars - Input Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2048,
        2736
      ],
      "id": "c4462a41-5410-449a-bf28-c0f414030e97"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67a35460-e53f-49bd-8a59-11e6aa0a4a6f",
              "name": "storage_api_host",
              "value": "http://storage_api:8090/api",
              "type": "string"
            },
            {
              "id": "9180d8be-301e-4937-b0b0-6a09b1b73606",
              "name": "storage_api_user",
              "value": "admin@example.com",
              "type": "string"
            },
            {
              "id": "ed78706d-d660-48e8-b96c-748cc3a97668",
              "name": "storage_api_password",
              "value": "supersecret123",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        2736
      ],
      "id": "5419c62a-708d-44c7-a740-24b3a8e1200f",
      "name": "Vars - Storage API"
    },
    {
      "parameters": {
        "url": "http://storage_api:8090/api/collections/organisations/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=(name='{{ $('Vars - Input Data').item.json.organization_name.replaceAll(\"'\", \"\\\\'\") }}' && analysis_batch_id='{{ $('Vars - Input Data').item.json.analysis_batch_id }}')"
            },
            {
              "name": "expand",
              "value": "financial_report,annual_report,remuneration_package_review_report"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -128,
        2736
      ],
      "id": "36ee9752-8958-4050-a88c-d664baa0cc99",
      "name": "Storage API - Get Charity Record",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "34b56356-a643-4657-b229-9607b55d688b",
              "leftValue": "={{ $json.meta == null }}",
              "rightValue": "={{ false }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1744,
        3328
      ],
      "id": "f6cfdb61-e715-47cd-90ed-767e55d15e31",
      "name": "Exists? (Domains)1"
    },
    {
      "parameters": {
        "url": "=http://storage_api:8090/api/collections/reports/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=(type='audited financial report' && organisation='{{ $json.name.replaceAll(\"'\", \"\\\\'\") }}')"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1040,
        4112
      ],
      "id": "12802772-ae51-4471-85f7-0d0f921a0328",
      "name": "Storage API - Get SWD NGO AFR Record",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extracts and parses JSON from a string, removing Markdown code blocks if present.\n * @param {string} llmOutput - The raw string returned by the LLM.\n * @returns {object} - The parsed JSON object.\n * @throws {Error} - If no JSON can be found or parsed.\n */\nfunction parseLlmJson(llmOutput) {\n  // 1. Regex to find content inside ```json ... ``` or just ``` ... ```\n  //    Matches: ```(optional language) (content) ```\n  const jsonCodeBlockRegex = /```(?:json)?\\s*([\\s\\S]*?)\\s*```/i;\n  \n  const match = llmOutput.match(jsonCodeBlockRegex);\n  let jsonString = '';\n\n  if (match && match[1]) {\n    // We found a code block, use the content inside capture group 1\n    jsonString = match[1];\n  } else {\n    // 2. Fallback: If no code block found, try to extract from first '{' to last '}'\n    // This handles cases where the LLM just returns raw JSON or text mixed with JSON without markdown.\n    const firstBrace = llmOutput.indexOf('{');\n    const lastBrace = llmOutput.lastIndexOf('}');\n\n    if (firstBrace !== -1 && lastBrace !== -1) {\n      jsonString = llmOutput.substring(firstBrace, lastBrace + 1);\n    } else {\n      throw new Error(\"No JSON structure found in input string.\");\n    }\n  }\n\n  // 3. Parse the extracted string\n  try {\n    return JSON.parse(jsonString);\n  } catch (error) {\n    console.error(\"Extraction successful, but JSON.parse failed on:\", jsonString);\n    throw new Error(`Invalid JSON content: ${error.message}`);\n  }\n}\n\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.parsedContentObject = parseLlmJson(item.json.candidates[0].content.parts[0].text);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        4784
      ],
      "id": "3333d458-13cd-4ba2-8999-793ac197f545",
      "name": "Parsed Content (Financials)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "financials",
              "value": "={{\n  {\n    data: $json.data,\n    schema: $('Schema Validation (Financials)').first().json,\n    audit_trails: $('Parsed Content (Financials)').first().json.search_results\n  }\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3072,
        4784
      ],
      "id": "e5307cb1-7e6a-4b46-97ba-a7a853380adb",
      "name": "Storage API - Update Charity - Financials",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d89bb7d9-6f3a-4e00-a103-b49baf8c178b",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.financials }}",
              "rightValue": "true",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a1048b6c-f90d-4fd3-a070-9502f64e4efc",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.financials?.schema?.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "55fffb24-7792-4c5a-9af8-5bd5c0454671",
              "leftValue": "={{ $('Vars - Input Data').item.json.force_rerun }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -592,
        4784
      ],
      "id": "e407b29a-e2a8-45bc-927a-83225e401d5e",
      "name": "Exists? (Financials)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "34b56356-a643-4657-b229-9607b55d688b",
              "leftValue": "={{ $json.financial_report }}",
              "rightValue": "={{ false }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1264,
        4112
      ],
      "id": "10e700bb-f722-4ee0-abbf-8f197fed7196",
      "name": "Exists? (Financial Report)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "34b56356-a643-4657-b229-9607b55d688b",
              "leftValue": "={{ $json.annual_report }}",
              "rightValue": "={{ false }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1264,
        3888
      ],
      "id": "0fa06927-77e8-476d-a8a4-63f6d3b004bd",
      "name": "Exists? (Annual Report)"
    },
    {
      "parameters": {
        "url": "=http://storage_api:8090/api/collections/reports/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=(type='annual report' && organisation='{{ $json.name.replaceAll(\"'\", \"\\\\'\") }}')"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1040,
        3888
      ],
      "id": "eb53c80d-a89b-432e-b329-d7d89cc3afed",
      "name": "Storage API - Get NGO AR Record",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d89bb7d9-6f3a-4e00-a103-b49baf8c178b",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.impact }}",
              "rightValue": "true",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f01593b2-1582-4f1f-a3ef-c3be8efd6fea",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.impact?.schema?.beneficiaries?.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "375d00ff-d26c-4026-af98-0fac8c683979",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.impact?.schema?.interventions?.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "645f4b35-5436-4798-98b0-662a1538f0c7",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.impact?.schema?.metrics?.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "822f79ae-ed94-48bd-b8c6-3667a2810cde",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.impact?.schema?.transparency?.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "eda34bd4-85c4-4834-9c6a-49c42e066794",
              "leftValue": "={{ $('Vars - Input Data').item.json.force_rerun }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        5072
      ],
      "id": "2a34d71c-08c4-4214-9ce1-8b7c010ec0f6",
      "name": "Exists? (Impact)"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json = {\n    ...item.json.items[0]\n  };\n}\n\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        2736
      ],
      "id": "07f180b7-6bf9-40ec-afd6-0cdcd0302d1a",
      "name": "Extract Charity List item[0]"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "impact",
              "value": "={{\n  {\n    data: {\n      \"beneficiaries\": $('Resolve Provenance (Impact - Beneficiaries)').item.json.data,\n      \"interventions\": $('Resolve Provenance (Impact - Interventions)').first().json.data,\n      \"metrics\": $('Resolve Provenance (Impact - Metrics)').first().json.data,\n      \"transparency\": $('Resolve Provenance (Impact - Transparency)').first().json.data\n    },\n    schema: {\n      \"beneficiaries\": $('Schema Validation (Impact - Beneficiaries)').first().json,\n      \"interventions\": $('Schema Validation (Impact - Interventions)').first().json,\n      \"metrics\": $('Schema Validation (Impact - Metrics)').first().json,\n      \"transparency\": $('Schema Validation (Impact - Transparency)').first().json\n    }\n  }\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2944,
        5360
      ],
      "id": "11eed72d-0760-4c49-a86d-d9684350d124",
      "name": "Storage API - Update Charity - Impact",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expand",
              "value": "financial_report,annual_report"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1744,
        4944
      ],
      "id": "28387461-e581-4a38-a6e0-1d4757b0c40b",
      "name": "Storage API - Get Charity",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "annual_report",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        3888
      ],
      "id": "a8d9b084-0abe-4aa2-9180-3849c50232d2",
      "name": "Storage API - Update Charity - Annual Report",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "financial_report",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        4112
      ],
      "id": "ffe05908-58d7-40b6-90b8-a657600a09c8",
      "name": "Storage API - Update Charity - Financial Report1",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a53a09dd-76ca-49f3-bc5a-8a7f2f2208cf",
              "leftValue": "={{ $json.items[0].url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -816,
        3888
      ],
      "id": "7d72a4b6-22e6-4458-9141-f69e622b11ba",
      "name": "if (Annual Report) URL exists"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dM945Azme2TNMwoX",
          "mode": "list",
          "cachedResultUrl": "/workflow/dM945Azme2TNMwoX",
          "cachedResultName": "Download PDF"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "storage_api_host": "={{ $('Vars - Storage API').first().json.storage_api_host }}",
            "pdf_api_host": "={{ $('Vars - PDF API').first().json.pdf_api_host }}",
            "download_url": "={{ $json.items[0].url }}",
            "output_text_format": "text",
            "compress_trigger_size_mb": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "storage_api_host",
              "displayName": "storage_api_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "pdf_api_host",
              "displayName": "pdf_api_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "download_url",
              "displayName": "download_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_text_format",
              "displayName": "output_text_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "compress_trigger_size_mb",
              "displayName": "compress_trigger_size_mb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -592,
        3888
      ],
      "id": "23d0729e-823a-4a40-bcae-2af0b986dbee",
      "name": "Download PDF & OCR (Annual Report)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a53a09dd-76ca-49f3-bc5a-8a7f2f2208cf",
              "leftValue": "={{ $json.items[0].url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -816,
        4112
      ],
      "id": "d323101f-1c02-4ae1-84ed-3aa8ddcfccde",
      "name": "if (Financial Report) URL exists"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dM945Azme2TNMwoX",
          "mode": "list",
          "cachedResultUrl": "/workflow/dM945Azme2TNMwoX",
          "cachedResultName": "Download PDF"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "storage_api_host": "={{ $('Vars - Storage API').first().json.storage_api_host }}",
            "pdf_api_host": "={{ $('Vars - PDF API').first().json.pdf_api_host }}",
            "download_url": "={{ $json.items[0].url }}",
            "output_text_format": "text",
            "compress_trigger_size_mb": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "storage_api_host",
              "displayName": "storage_api_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "pdf_api_host",
              "displayName": "pdf_api_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "download_url",
              "displayName": "download_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_text_format",
              "displayName": "output_text_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "compress_trigger_size_mb",
              "displayName": "compress_trigger_size_mb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -592,
        4112
      ],
      "id": "f687c2ea-0792-46a5-95d1-5c6d47ca6dda",
      "name": "Download PDF & OCR (Financial Report)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -144,
        4032
      ],
      "id": "6194ad4e-4816-4192-a0ab-4f9847cd22e2",
      "name": "Wait until all downloads done"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3536,
        4960
      ],
      "id": "4e69b7dd-2676-4d8f-940f-7d3b4bd3c1e1",
      "name": "Wait until all analysis done"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67a35460-e53f-49bd-8a59-11e6aa0a4a6f",
              "name": "pdf_api_host",
              "value": "http://pdf_api:8080",
              "type": "string"
            },
            {
              "id": "ed78706d-d660-48e8-b96c-748cc3a97668",
              "name": "pdf_api_key",
              "value": "={{ $env.CREDENTIALS_PDF_API_KEY }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        2736
      ],
      "id": "c3dea347-fc34-425f-ada3-3bfb10c76729",
      "name": "Vars - PDF API"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extracts and parses JSON from a string, removing Markdown code blocks if present.\n * @param {string} llmOutput - The raw string returned by the LLM.\n * @returns {object} - The parsed JSON object.\n * @throws {Error} - If no JSON can be found or parsed.\n */\nfunction parseLlmJson(llmOutput) {\n  // 1. Regex to find content inside ```json ... ``` or just ``` ... ```\n  //    Matches: ```(optional language) (content) ```\n  const jsonCodeBlockRegex = /```(?:json)?\\s*([\\s\\S]*?)\\s*```/i;\n  \n  const match = llmOutput.match(jsonCodeBlockRegex);\n  let jsonString = '';\n\n  if (match && match[1]) {\n    // We found a code block, use the content inside capture group 1\n    jsonString = match[1];\n  } else {\n    // 2. Fallback: If no code block found, try to extract from first '{' to last '}'\n    // This handles cases where the LLM just returns raw JSON or text mixed with JSON without markdown.\n    const firstBrace = llmOutput.indexOf('{');\n    const lastBrace = llmOutput.lastIndexOf('}');\n\n    if (firstBrace !== -1 && lastBrace !== -1) {\n      jsonString = llmOutput.substring(firstBrace, lastBrace + 1);\n    } else {\n      throw new Error(\"No JSON structure found in input string.\");\n    }\n  }\n\n  // 3. Parse the extracted string\n  try {\n    return JSON.parse(jsonString);\n  } catch (error) {\n    console.error(\"Extraction successful, but JSON.parse failed on:\", jsonString);\n    throw new Error(`Invalid JSON content: ${error.message}`);\n  }\n}\n\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.parsedContentObject = parseLlmJson(item.json.content.parts[0].text);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        3328
      ],
      "id": "4fd035b9-58be-45db-acf7-10d9c6b2f7d0",
      "name": "Parsed Content (Metadata)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').item.json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expand",
              "value": "financial_report,annual_report,remuneration_package_review_report"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "domains",
              "value": "={{ $('Parsed Content (Metadata)').first().json.parsedContentObject.domains }}"
            },
            {
              "name": "meta",
              "value": "={{ $('Parsed Content (Metadata)').first().json.parsedContentObject }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        3328
      ],
      "id": "f7d7d4c4-ac67-4f06-8d5b-2d26edd948ae",
      "name": "Storage API - Update Charity - Metadata",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/schemas/{{ $('Vars - Utils API & Schemas').first().json.financials_extract_schema }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -368,
        4784
      ],
      "id": "c8573093-d3b1-4b1e-a668-99f76de7611d",
      "name": "Read JSON schema (Finanicals)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        4784
      ],
      "id": "43f2d83d-2dab-4a2f-ad97-eb96e1a57b7c",
      "name": "Binary to Text (JSON schema, Financials)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96e2e13e-00d7-4cec-a328-2931cdfb7639",
              "name": "utils_api_host",
              "value": "http://utils_api:8000",
              "type": "string"
            },
            {
              "id": "d490c2c2-9038-4035-b94b-3b10a1216677",
              "name": "financials_schema",
              "value": "v1/financials.schema.json",
              "type": "string"
            },
            {
              "id": "bdadfdbc-474e-41f6-8a20-5ca68992d573",
              "name": "impact_schema",
              "value": "v1/impact.schema.json",
              "type": "string"
            },
            {
              "id": "3c26dc4b-0871-480a-ac8b-4ce09a5291f9",
              "name": "analytics_schema",
              "value": "v1/analytics.schema.json",
              "type": "string"
            },
            {
              "id": "969b91d5-d43a-42b9-929b-86514c8e970f",
              "name": "meta_schema",
              "value": "v1/meta.schema.json",
              "type": "string"
            },
            {
              "id": "7dbf4b0b-b421-4ef2-850d-266ae62ed404",
              "name": "search_schema",
              "value": "v1/search.schema.json",
              "type": "string"
            },
            {
              "id": "dc577b89-662b-488c-b190-061dd1d11a61",
              "name": "financials_extract_schema",
              "value": "v1/financials.schema.extract.schema.json",
              "type": "string"
            },
            {
              "id": "7adb87c1-afb2-4fe1-8883-0b788de42044",
              "name": "impact_extract_schema",
              "value": "v1/impact.schema.extract.schema.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        2736
      ],
      "id": "8e1def45-bb31-433d-b648-3f3f7abc4016",
      "name": "Vars - Utils API & Schemas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "={{ $('Vars - Utils API & Schemas').first().json.financials_schema }}"
            },
            {
              "name": "data",
              "value": "={{$json.data}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2784,
        4784
      ],
      "id": "aa74cb56-95e5-460d-a243-e21ac462ce07",
      "name": "Schema Validation (Financials)"
    },
    {
      "parameters": {
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1856,
        6496
      ],
      "id": "daa94103-de9c-45cd-a111-8ccdf5bd7535",
      "name": "Storage API - Get Charity for analytics",
      "credentials": {
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/audit",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "financials",
              "value": "={{ $json.financials.data }}"
            },
            {
              "name": "impact",
              "value": "={{ $json.impact.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2080,
        6496
      ],
      "id": "7d0a98eb-616a-40eb-b702-8e27938c5a10",
      "name": "Analytics"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expand",
              "value": "financial_report,annual_report"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "analytics",
              "value": "={{ $('Analytics').first().json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2528,
        6496
      ],
      "id": "436a2d59-2ce2-46db-aa21-c50b3ff4d27f",
      "name": "Storage API - Update Charity - Analytics",
      "credentials": {
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "={{ $('Vars - Utils API & Schemas').first().json.analytics_schema }}"
            },
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2304,
        6496
      ],
      "id": "ba12ec3b-70da-4ec9-9a06-8764173347bf",
      "name": "Schema Validation (Analytics)"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2736,
        6496
      ],
      "id": "2305608b-3a7a-4308-b756-d42e84750744",
      "name": "Convert to File (output Organisation)"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/data/organisations/{{ $('Storage API - Update Charity - Analytics').first().json.id }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        3152,
        6496
      ],
      "id": "2f997672-e136-41b1-978a-5f70efc0c365",
      "name": "Write to data/organisations/{id}.json"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KyDtBHSVI5wyX2KM",
          "mode": "list",
          "cachedResultUrl": "/workflow/KyDtBHSVI5wyX2KM",
          "cachedResultName": "Prepare Prompts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_file_paths": "={{ [\n  \"/home/node/.n8n-files/prompt-templates/financials.user.md\"\n] }}",
            "injection_dict": "={{ {\n  STRINGIFIED_JSON_SCHEMA: JSON.stringify($('Binary to Text (JSON schema, Financials)').first().json.data)\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_file_paths",
              "displayName": "prompt_file_paths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "injection_dict",
              "displayName": "injection_dict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        80,
        4784
      ],
      "id": "c30db9fc-4f48-49bc-b042-6d5a6296227f",
      "name": "Call 'Prompt Injection' - Financials"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $('Vars - Gemini').item.json.gemini_model }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=<system prompt>\n{{ $('Call \\'Prompt Injection\\' - Meta').first().json.injected_prompts[0] }}\n</system prompt>\n<user prompt>\n{{ $('Call \\'Prompt Injection\\' - Meta').first().json.injected_prompts[1] }}\n</user prompt>"
            }
          ]
        },
        "builtInTools": {
          "googleSearch": true
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -848,
        3328
      ],
      "id": "10e19ddb-bb47-4936-9fcf-7cd33dab55d6",
      "name": "Find Metadata",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7EY3kWdzHSKXrfnm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "287a3eae-d459-488b-a8fc-1392ad6476b6",
              "name": "gemini_url",
              "value": "https://generativelanguage.googleapis.com/v1beta",
              "type": "string"
            },
            {
              "id": "19e98406-4d26-4cfc-a12c-1f2580beb280",
              "name": "gemini_model",
              "value": "models/gemini-2.5-flash",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        2736
      ],
      "id": "4a71ebdb-507e-4a75-a16d-adafe65576aa",
      "name": "Vars - Gemini"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "charity-analysis",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2272,
        2736
      ],
      "id": "191c9cf1-b0a1-42ec-b285-543770263887",
      "name": "Webhook",
      "webhookId": "85e5816d-e14c-46af-806e-37989476e2e5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Gemini').first().json.gemini_url }}/{{ $('Vars - Gemini').first().json.gemini_model }}:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\"text\": {{ JSON.stringify($('Call \\'Prompt Injection\\' - Financials').first().json.injected_prompts[0]) }} }\n      ]\n    }\n  ],\n  \"cachedContent\": \"{{ $('Call \\'Ensure Context Cache is on Gemini\\'').item.json.gemini_cache_name }}\",\n  \"generationConfig\": {\n    \"temperature\": 0,\n    \"responseMimeType\": \"application/json\",\n    \"responseJsonSchema\": {{ JSON.stringify($('Binary to Text (JSON schema, Financials)').first().json.data) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        4784
      ],
      "id": "f74f320f-326c-4e5f-a53a-fdc2f4a168b0",
      "name": "Extract Financials",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7EY3kWdzHSKXrfnm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expand",
              "value": "financial_report,annual_report,rem_pkg_review_report"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        4032
      ],
      "id": "a13d6d1e-8b73-4c43-b1cd-47b0f6c38502",
      "name": "Storage API - Get Charity1",
      "credentials": {
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7WmUvPfyMRFCI864",
          "mode": "list",
          "cachedResultUrl": "/workflow/7WmUvPfyMRFCI864",
          "cachedResultName": "Ensure File is on Gemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "artifact_id": "={{ $json.expand.financial_report.id }}",
            "storage_api_host": "={{ $('Vars - Storage API').first().json.storage_api_host }}",
            "gemini_file_lifetime_hr": 0
          },
          "matchingColumns": [
            "expand_financial_report_id"
          ],
          "schema": [
            {
              "id": "storage_api_host",
              "displayName": "storage_api_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "artifact_id",
              "displayName": "artifact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "gemini_file_lifetime_hr",
              "displayName": "gemini_file_lifetime_hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        464,
        4144
      ],
      "name": "Call Ensure File is on Gemini",
      "id": "47395209-3b5e-4360-bb57-3c0bd7a4ce12"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7WmUvPfyMRFCI864",
          "mode": "list",
          "cachedResultUrl": "/workflow/7WmUvPfyMRFCI864",
          "cachedResultName": "Ensure File is on Gemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "artifact_id": "={{ $json.expand.annual_report.id }}",
            "storage_api_host": "={{ $('Vars - Storage API').first().json.storage_api_host }}",
            "gemini_file_lifetime_hr": 0
          },
          "matchingColumns": [
            "expand_financial_report_id"
          ],
          "schema": [
            {
              "id": "storage_api_host",
              "displayName": "storage_api_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "artifact_id",
              "displayName": "artifact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "gemini_file_lifetime_hr",
              "displayName": "gemini_file_lifetime_hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        464,
        3920
      ],
      "name": "Call Ensure File is on Gemini1",
      "id": "ba391319-554e-4e59-969c-d57eaa7dca37"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        4032
      ],
      "id": "6aebec43-0ee5-4c18-892c-f4396be962f0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/schemas/{{ $('Vars - Utils API & Schemas').first().json.meta_schema }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1520,
        3328
      ],
      "id": "ef130892-3d7a-4cfe-990f-13068dc5e762",
      "name": "Read JSON schema (Meta)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1296,
        3328
      ],
      "id": "ec735c1d-0ff4-41a4-8719-49f9ac7bc868",
      "name": "Binary to Text (JSON schema, Meta)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KyDtBHSVI5wyX2KM",
          "mode": "list",
          "cachedResultUrl": "/workflow/KyDtBHSVI5wyX2KM",
          "cachedResultName": "Prepare Prompts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_file_paths": "={{ [\n  \"/home/node/.n8n-files/prompt-templates/meta.system.md\",\n  \"/home/node/.n8n-files/prompt-templates/meta.user.md\"\n] }}",
            "injection_dict": "={{ {\n  STRINGIFIED_JSON_SCHEMA: JSON.stringify($('Binary to Text (JSON schema, Meta)').first().json.data),\n  CHARITY_NAME: $('Exists? (Domains)1').first().json.name.replaceAll(\"'\", \"\\\\'\")\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_file_paths",
              "displayName": "prompt_file_paths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "injection_dict",
              "displayName": "injection_dict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1072,
        3328
      ],
      "id": "b170d9e5-191d-488a-969c-66da3f63d2b5",
      "name": "Call 'Prompt Injection' - Meta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "={{ $('Vars - Utils API & Schemas').first().json.meta_schema }}"
            },
            {
              "name": "data",
              "value": "={{$('Parsed Content (Metadata)').first().json.parsedContentObject}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        3328
      ],
      "id": "ba70bebb-b3e4-4ff1-b41b-5d7af51f37c4",
      "name": "Schema Validation (Metadata)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e2a7b7f-629f-4098-9079-e9ddc54254fd",
              "leftValue": "={{ $json.expand.annual_report }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        3920
      ],
      "id": "043a5fcc-b8f3-4d5b-b8c5-faaa575022b4",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ca7efc9c-92e5-4a6c-a184-901aa6327343",
              "leftValue": "={{ $json.expand.financial_report }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        4144
      ],
      "id": "7390c7f0-b1a1-4612-83c2-6868b413f35d",
      "name": "If1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $('Vars - Gemini').first().json.gemini_model }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=<system prompt>\n{{ $('Call \\'Prompt Injection\\' - Impact Search').first().json.injected_prompts[0] }}\n</system prompt>\n<user prompt>\n{{ $('Call \\'Prompt Injection\\' - Impact Search').first().json.injected_prompts[1] }}\n</user prompt>"
            }
          ]
        },
        "builtInTools": {
          "googleSearch": true
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -144,
        5920
      ],
      "id": "ec14daa2-11f1-4135-a82b-528c032c4202",
      "name": "Search for Impact Snippets",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7EY3kWdzHSKXrfnm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KyDtBHSVI5wyX2KM",
          "mode": "list",
          "cachedResultUrl": "/workflow/KyDtBHSVI5wyX2KM",
          "cachedResultName": "Prepare Prompts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_file_paths": "={{ [\n  \"/home/node/.n8n-files/prompt-templates/impact-search.system.md\",\n  \"/home/node/.n8n-files/prompt-templates/impact-search.user.md\"\n] }}",
            "injection_dict": "={{ {\n  CHARITY_NAME: $('Exists? (Domains)1').first().json.name.replaceAll(\"'\", \"\\\\'\")\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_file_paths",
              "displayName": "prompt_file_paths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "injection_dict",
              "displayName": "injection_dict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -336,
        5920
      ],
      "id": "9acfbd33-e0d9-4f7a-8c5d-37b77f25d823",
      "name": "Call 'Prompt Injection' - Impact Search"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "={{ $('Vars - Utils API & Schemas').first().json.search_schema }}"
            },
            {
              "name": "data",
              "value": "={{$('Parsed Content (Impact Search)').first().json.parsedContentObject}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        5920
      ],
      "id": "a80dcfd1-3c15-4110-b065-eee0e6d8516e",
      "name": "Schema Validation (Impact Search)"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extracts and parses JSON from a string, removing Markdown code blocks if present.\n * @param {string} llmOutput - The raw string returned by the LLM.\n * @returns {object} - The parsed JSON object.\n * @throws {Error} - If no JSON can be found or parsed.\n */\nfunction parseLlmJson(llmOutput) {\n  // 1. Regex to find content inside ```json ... ``` or just ``` ... ```\n  //    Matches: ```(optional language) (content) ```\n  const jsonCodeBlockRegex = /```(?:json)?\\s*([\\s\\S]*?)\\s*```/i;\n  \n  const match = llmOutput.match(jsonCodeBlockRegex);\n  let jsonString = '';\n\n  if (match && match[1]) {\n    // We found a code block, use the content inside capture group 1\n    jsonString = match[1];\n  } else {\n    // 2. Fallback: If no code block found, try to extract from first '{' to last '}'\n    // This handles cases where the LLM just returns raw JSON or text mixed with JSON without markdown.\n    const firstBrace = llmOutput.indexOf('{');\n    const lastBrace = llmOutput.lastIndexOf('}');\n\n    if (firstBrace !== -1 && lastBrace !== -1) {\n      jsonString = llmOutput.substring(firstBrace, lastBrace + 1);\n    } else {\n      throw new Error(\"No JSON structure found in input string.\");\n    }\n  }\n\n  // 3. Parse the extracted string\n  try {\n    return JSON.parse(jsonString);\n  } catch (error) {\n    console.error(\"Extraction successful, but JSON.parse failed on:\", jsonString);\n    throw new Error(`Invalid JSON content: ${error.message}`);\n  }\n}\n\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.parsedContentObject = parseLlmJson(item.json.content.parts[0].text);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        5920
      ],
      "id": "0827e856-078e-4dce-b8b2-0c568fbba8be",
      "name": "Parsed Content (Impact Search)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "impact_search",
              "value": "={{\n  {\n    data: $('Resolve URLs (Impact Search)').first().json.search_results,\n    schema: $('Schema Validation (Impact Search)').first().json,\n    audit_trails: $('Parsed Content (Impact Search)').first().json.search_results\n  }\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        5920
      ],
      "id": "988a1edc-8224-47c1-ae80-accb08f677c9",
      "name": "Storage API - Update Charity - Impact1",
      "credentials": {
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "149c8aba-2888-4050-a306-81d084f62afa",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.impact_search }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "7a488dba-5e14-4e2c-bfce-021936fce94b",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.impact_search?.schema?.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "8ee2443a-923d-4ef9-86e3-0bd18f94b256",
              "leftValue": "={{ $('Vars - Input Data').first().json.force_rerun }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -544,
        5920
      ],
      "id": "eb5bdda3-fc5e-48f3-b575-d33a35367536",
      "name": "Exists? (Impact Search)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ULknetjfaAGl3dwG",
          "mode": "list",
          "cachedResultUrl": "/workflow/ULknetjfaAGl3dwG",
          "cachedResultName": "Fill Exchange Rate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "financial_year": "={{ $('Parsed Content (Financials)').first().json.parsedContentObject.financial_year }}",
            "original_code": "={{ $('Parsed Content (Financials)').first().json.parsedContentObject.currency.original_code }}"
          },
          "matchingColumns": [
            "parsedContentObject_firstItem"
          ],
          "schema": [
            {
              "id": "financial_year",
              "displayName": "financial_year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "original_code",
              "displayName": "original_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2512,
        4608
      ],
      "name": "Call Fill Exchange Rate",
      "id": "bfa9387b-1e20-433e-bf2b-7169007ef2f6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c01a38b-3017-4eb6-8f60-971be0e940d8",
              "leftValue": "={{ $json.data.currency }}",
              "rightValue": false,
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2384,
        4784
      ],
      "id": "3af3eb22-8bff-4b17-812e-b46a435254dd",
      "name": "If Financials Schema Valid"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const financials = $('If Financials Schema Valid').first().json.data;\n  financials.currency.rate_date = item.json.rate_date;\n  financials.currency.usd_exchange_rate = item.json.usd_exchange_rate;\n  item.json.data = financials;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        4608
      ],
      "id": "5fb306b5-8bcd-4507-853c-639b7c66c3a0",
      "name": "Merge Currency"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2928,
        4784
      ],
      "id": "05abeeb3-782f-4eba-b130-064ef062d4d1",
      "name": "Merge Finanicals with Validation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/resolve-provenance",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {{ JSON.stringify($json) }},\n  \"context\": {\n    \"attached_reports\": {{ JSON.stringify([\n      ... ($('Storage API - Get Charity').first().json.expand?.annual_report?.url\n        ? [$('Storage API - Get Charity').first().json.expand.annual_report.url]\n        : []),\n      ... ($('Storage API - Get Charity').first().json.expand?.financial_report?.url\n        ? [$('Storage API - Get Charity').first().json.expand.financial_report.url]\n        : []),\n]) }},\n    \"web_search_results\": []\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        4784
      ],
      "id": "990306ed-df6d-48d4-ab1d-58fe3ee14c11",
      "name": "Resolve Provenance (Financials)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/resolve-search-urls",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "search_results",
              "value": "={{ $('Parsed Content (Impact Search)').item.json.parsedContentObject.search_results }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        5920
      ],
      "id": "e7fe9ce2-17e6-4e41-b0f6-929c6ae30c83",
      "name": "Resolve URLs (Impact Search)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/normalize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "={{ $('Vars - Utils API & Schemas').first().json.financials_schema }}"
            },
            {
              "name": "data",
              "value": "={{ $json.parsedContentObject }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1696,
        4784
      ],
      "id": "94342739-e919-4f7b-83e5-198b08a9a2aa",
      "name": "Normalise (Financials)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3xBpTfBaI2pbWuOb",
          "mode": "list",
          "cachedResultUrl": "/workflow/3xBpTfBaI2pbWuOb",
          "cachedResultName": "Ensure Context Cache is on Gemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "storage_api_host": "={{ $('Vars - Storage API').first().json.storage_api_host }}",
            "organisation_id": "={{ $('Storage API - Get Charity').first().json.id }}",
            "gemini_cache_lifetime_sec": 1200,
            "system_prompt": "={{ $json.injected_prompts[0] }}",
            "gemini_url": "={{ $('Vars - Gemini').first().json.gemini_url }}",
            "gemini_model": "={{ $('Vars - Gemini').first().json.gemini_model }}",
            "document_uris": "={{\n[\n  ...($('Storage API - Get Charity').first().json.annual_report\n    ? [$('Storage API - Get Charity').first().json.expand.annual_report.gemini_file_uri]\n    : []),\n  ...($('Storage API - Get Charity').first().json.financial_report\n    ? [$('Storage API - Get Charity').first().json.expand.financial_report.gemini_file_uri]\n    : []),\n]\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "storage_api_host",
              "displayName": "storage_api_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "organisation_id",
              "displayName": "organisation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "gemini_cache_lifetime_sec",
              "displayName": "gemini_cache_lifetime_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "document_uris",
              "displayName": "document_uris",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "system_prompt",
              "displayName": "system_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "gemini_url",
              "displayName": "gemini_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "gemini_model",
              "displayName": "gemini_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1072,
        5008
      ],
      "id": "65c2394c-07b4-4345-b10a-573167adaa46",
      "name": "Call 'Ensure Context Cache is on Gemini'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KyDtBHSVI5wyX2KM",
          "mode": "list",
          "cachedResultUrl": "/workflow/KyDtBHSVI5wyX2KM",
          "cachedResultName": "Prepare Prompts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_file_paths": "={{ [\n  \"/home/node/.n8n-files/prompt-templates/master_auditor.system.md\"\n] }}",
            "injection_dict": "={{ {\n\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_file_paths",
              "displayName": "prompt_file_paths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "injection_dict",
              "displayName": "injection_dict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1296,
        5008
      ],
      "id": "ee522d37-03f7-48d7-ac09-88cb4f3bd08a",
      "name": "Call 'Prompt Injection' - Master"
    },
    {
      "parameters": {
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expand",
              "value": "financial_report,annual_report"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        4944
      ],
      "id": "5786cfb8-66aa-4adb-b4a8-e83810755d43",
      "name": "Storage API - Get Charity2",
      "credentials": {
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/schemas/v1/impact_beneficiaries.schema.extract.schema.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -448,
        5072
      ],
      "id": "873391a7-de81-422e-aa1e-00095b8d5bfd",
      "name": "Read JSON schema (Impact - Beneficiaries)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        5072
      ],
      "id": "42eca936-3a6c-42ca-8515-5cb8b0b0fff0",
      "name": "Binary to Text (JSON schema, Impact - Beneficiaries)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KyDtBHSVI5wyX2KM",
          "mode": "list",
          "cachedResultUrl": "/workflow/KyDtBHSVI5wyX2KM",
          "cachedResultName": "Prepare Prompts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_file_paths": "={{ [\n  \"/home/node/.n8n-files/prompt-templates/impact.user.md\"\n] }}",
            "injection_dict": "={{ {\n  STRINGIFIED_JSON_SCHEMA: JSON.stringify($('Binary to Text (JSON schema, Impact - Beneficiaries)').first().json.data)\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_file_paths",
              "displayName": "prompt_file_paths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "injection_dict",
              "displayName": "injection_dict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        5072
      ],
      "id": "0dd9bc57-8100-44ec-bb28-791c8e08ea1c",
      "name": "Call 'Prompt Injection' - Impact - Beneficiaries"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/schemas/v1/impact_interventions.schema.extract.schema.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -448,
        5280
      ],
      "id": "5d29de24-749c-43be-962a-dced4b2e6f92",
      "name": "Read JSON schema (Impact - Interventions)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        5280
      ],
      "id": "e743e3a1-274a-4b9f-a5ed-89deb56ea8e5",
      "name": "Binary to Text (JSON schema, Impact - Interventions)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KyDtBHSVI5wyX2KM",
          "mode": "list",
          "cachedResultUrl": "/workflow/KyDtBHSVI5wyX2KM",
          "cachedResultName": "Prepare Prompts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_file_paths": "={{ [\n  \"/home/node/.n8n-files/prompt-templates/impact.user.md\"\n] }}",
            "injection_dict": "={{ {\n  STRINGIFIED_JSON_SCHEMA: JSON.stringify($('Binary to Text (JSON schema, Impact - Interventions)').first().json.data)\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_file_paths",
              "displayName": "prompt_file_paths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "injection_dict",
              "displayName": "injection_dict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        5280
      ],
      "id": "714a9b87-db44-4351-986d-ce9828ba583d",
      "name": "Call 'Prompt Injection' - Impact - Interventions"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/schemas/v1/impact_metrics.schema.extract.schema.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -448,
        5488
      ],
      "id": "457f8907-67b9-4c7d-bf75-7f28e38523dc",
      "name": "Read JSON schema (Impact - Metrics)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        5488
      ],
      "id": "dacc8e88-12a2-4990-889d-3eddadd3a01c",
      "name": "Binary to Text (JSON schema, Impact - Metrics)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KyDtBHSVI5wyX2KM",
          "mode": "list",
          "cachedResultUrl": "/workflow/KyDtBHSVI5wyX2KM",
          "cachedResultName": "Prepare Prompts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_file_paths": "={{ [\n  \"/home/node/.n8n-files/prompt-templates/impact.user.md\"\n] }}",
            "injection_dict": "={{ {\n  STRINGIFIED_JSON_SCHEMA: JSON.stringify($('Binary to Text (JSON schema, Impact - Metrics)').first().json.data)\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_file_paths",
              "displayName": "prompt_file_paths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "injection_dict",
              "displayName": "injection_dict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        5488
      ],
      "id": "08082941-4bfb-48fc-9791-0c4e12cf3ba4",
      "name": "Call 'Prompt Injection' - Impact - Metrics"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/schemas/v1/impact_transparency.schema.extract.schema.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -448,
        5696
      ],
      "id": "d121e916-4881-4112-9225-8d205ab3f3de",
      "name": "Read JSON schema (Impact - Transparency)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        5696
      ],
      "id": "2984d253-eb20-45d9-8d87-f624515793b0",
      "name": "Binary to Text (JSON schema, Impact - Transparency)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KyDtBHSVI5wyX2KM",
          "mode": "list",
          "cachedResultUrl": "/workflow/KyDtBHSVI5wyX2KM",
          "cachedResultName": "Prepare Prompts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_file_paths": "={{ [\n  \"/home/node/.n8n-files/prompt-templates/impact.user.md\"\n] }}",
            "injection_dict": "={{ {\n  STRINGIFIED_JSON_SCHEMA: JSON.stringify($('Binary to Text (JSON schema, Impact - Transparency)').first().json.data)\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_file_paths",
              "displayName": "prompt_file_paths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "injection_dict",
              "displayName": "injection_dict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        5696
      ],
      "id": "1a6c754e-211c-43ad-8fc2-541899871220",
      "name": "Call 'Prompt Injection' - Impact - Transparency"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Gemini').first().json.gemini_url }}/{{ $('Vars - Gemini').first().json.gemini_model }}:streamGenerateContent?alt=sse",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n{{ $('Merge (Impact - Beneficiaries)').first().json?.impact_search?.data ? `{\n  \"text\": ${JSON.stringify(JSON.stringify($('Merge (Impact - Beneficiaries)').first().json.impact_search.data))}\n},` : \"\" }}\n        {\"text\": {{ JSON.stringify($('Call \\'Prompt Injection\\' - Impact - Beneficiaries').first().json.injected_prompts[0]) }} }\n      ]\n    }\n  ],\n  \"cachedContent\": \"{{ $('Call \\'Ensure Context Cache is on Gemini\\'').item.json.gemini_cache_name }}\",\n  \"generationConfig\": {\n    \"temperature\": 0,\n    \"responseMimeType\": \"application/json\",\n    \"responseJsonSchema\": {{ JSON.stringify($('Binary to Text (JSON schema, Impact - Beneficiaries)').first().json.data) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        5072
      ],
      "id": "17616abf-1a5c-46b0-a946-1ef333a7c234",
      "name": "Extract Impact - Beneficiaries",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7EY3kWdzHSKXrfnm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/normalize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "={{ $('Vars - Utils API & Schemas').first().json.impact_schema }}"
            },
            {
              "name": "data",
              "value": "={{ $json.parsedContentObject }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1696,
        5072
      ],
      "id": "2a985744-c241-40fd-acd3-41659556d238",
      "name": "Normalise (Impact - Beneficiaries)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/resolve-provenance",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {{ JSON.stringify($json) }},\n  \"context\": {\n    \"attached_reports\": {{ JSON.stringify([\n      ... ($('Storage API - Get Charity').first().json.expand?.annual_report?.url\n        ? [$('Storage API - Get Charity').first().json.expand.annual_report.url]\n        : []),\n      ... ($('Storage API - Get Charity').first().json.expand?.financial_report?.url\n        ? [$('Storage API - Get Charity').first().json.expand.financial_report.url]\n        : []),\n]) }},\n    \"web_search_results\": {{ JSON.stringify($('Merge (Impact - Beneficiaries)').first().json.impact_search.data) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        5072
      ],
      "id": "56aca867-43b7-4ab8-913b-4d0a83edb30a",
      "name": "Resolve Provenance (Impact - Beneficiaries)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "=v1/impact_beneficiaries.schema.json"
            },
            {
              "name": "data",
              "value": "={{$json.data}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2144,
        5072
      ],
      "id": "952e0b4d-b417-49c7-8e2f-689293a77d15",
      "name": "Schema Validation (Impact - Beneficiaries)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Gemini').first().json.gemini_url }}/{{ $('Vars - Gemini').first().json.gemini_model }}:streamGenerateContent?alt=sse",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n{{ $('Merge (Impact - Interventions)').first().json?.impact_search?.data ? `{\n  \"text\": ${JSON.stringify(JSON.stringify($('Merge (Impact - Interventions)').first().json.impact_search.data))}\n},` : \"\" }}\n        {\"text\": {{ JSON.stringify($('Call \\'Prompt Injection\\' - Impact - Interventions').first().json.injected_prompts[0]) }} }\n      ]\n    }\n  ],\n  \"cachedContent\": \"{{ $('Call \\'Ensure Context Cache is on Gemini\\'').item.json.gemini_cache_name }}\",\n  \"generationConfig\": {\n    \"temperature\": 0,\n    \"responseMimeType\": \"application/json\",\n    \"responseJsonSchema\": {{ JSON.stringify($('Binary to Text (JSON schema, Impact - Interventions)').first().json.data) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        5264
      ],
      "id": "a162ab42-2ffa-4c9c-98ad-0796e15ace3a",
      "name": "Extract Impact - Interventions",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7EY3kWdzHSKXrfnm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "J8UhBTBiMD1hu5vT",
          "mode": "list",
          "cachedResultUrl": "/workflow/J8UhBTBiMD1hu5vT",
          "cachedResultName": "Parse Content from Gemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1472,
        5072
      ],
      "name": "Call Parse Content from Gemini (Impact - Beneficiaries)",
      "id": "15ab9f47-2da9-439b-b1cd-39949ef5a511"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "J8UhBTBiMD1hu5vT",
          "mode": "list",
          "cachedResultUrl": "/workflow/J8UhBTBiMD1hu5vT",
          "cachedResultName": "Parse Content from Gemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1472,
        5264
      ],
      "name": "Call Parse Content from Gemini (Impact - Interventions)",
      "id": "064f7a21-a53a-482b-9e41-fc6ea6d40ba9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/normalize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "={{ $('Vars - Utils API & Schemas').first().json.impact_schema }}"
            },
            {
              "name": "data",
              "value": "={{ $json.parsedContentObject }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1696,
        5264
      ],
      "id": "876f6b37-b275-4a04-a79d-92eb48b32eab",
      "name": "Normalise (Impact - Interventions)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/resolve-provenance",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {{ JSON.stringify($json) }},\n  \"context\": {\n    \"attached_reports\": {{ JSON.stringify([\n      ... ($('Storage API - Get Charity').first().json.expand?.annual_report?.url\n        ? [$('Storage API - Get Charity').first().json.expand.annual_report.url]\n        : []),\n      ... ($('Storage API - Get Charity').first().json.expand?.financial_report?.url\n        ? [$('Storage API - Get Charity').first().json.expand.financial_report.url]\n        : []),\n]) }},\n    \"web_search_results\": {{ JSON.stringify($('Merge (Impact - Interventions)').first().json.impact_search.data) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        5264
      ],
      "id": "686c0f83-c16b-4da3-80bf-a7c48a1f00cb",
      "name": "Resolve Provenance (Impact - Interventions)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "v1/impact_interventions.schema.json"
            },
            {
              "name": "data",
              "value": "={{$json.data}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2144,
        5264
      ],
      "id": "55393859-aa79-4852-8698-f61d1eecd369",
      "name": "Schema Validation (Impact - Interventions)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Gemini').first().json.gemini_url }}/{{ $('Vars - Gemini').first().json.gemini_model }}:streamGenerateContent?alt=sse",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n{{ $('Merge (Impact - Metrics)').first().json?.impact_search?.data ? `{\n  \"text\": ${JSON.stringify(JSON.stringify($('Merge (Impact - Metrics)').first().json.impact_search.data))}\n},` : \"\" }}\n        {\"text\": {{ JSON.stringify($('Call \\'Prompt Injection\\' - Impact - Metrics').first().json.injected_prompts[0]) }} }\n      ]\n    }\n  ],\n  \"cachedContent\": \"{{ $('Call \\'Ensure Context Cache is on Gemini\\'').item.json.gemini_cache_name }}\",\n  \"generationConfig\": {\n    \"temperature\": 0,\n    \"responseMimeType\": \"application/json\",\n    \"responseJsonSchema\": {{ JSON.stringify($('Binary to Text (JSON schema, Impact - Metrics)').first().json.data) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        5472
      ],
      "id": "db36ddcf-9480-4386-8d33-bbbc6b23cf67",
      "name": "Extract Impact - Metrics",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7EY3kWdzHSKXrfnm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "J8UhBTBiMD1hu5vT",
          "mode": "list",
          "cachedResultUrl": "/workflow/J8UhBTBiMD1hu5vT",
          "cachedResultName": "Parse Content from Gemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1472,
        5472
      ],
      "name": "Call Parse Content from Gemini (Impact - Metrics)",
      "id": "71e690bd-c893-45ca-9d82-7ab51e39010e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/normalize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "v1/impact_metrics.schema.json"
            },
            {
              "name": "data",
              "value": "={{ $json.parsedContentObject }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1696,
        5472
      ],
      "id": "40f07a04-37c1-40ab-92ab-b84473bc28d8",
      "name": "Normalise (Impact - Metrics)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/resolve-provenance",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {{ JSON.stringify($json) }},\n  \"context\": {\n    \"attached_reports\": {{ JSON.stringify([\n      ... ($('Storage API - Get Charity').first().json.expand?.annual_report?.url\n        ? [$('Storage API - Get Charity').first().json.expand.annual_report.url]\n        : []),\n      ... ($('Storage API - Get Charity').first().json.expand?.financial_report?.url\n        ? [$('Storage API - Get Charity').first().json.expand.financial_report.url]\n        : []),\n]) }},\n    \"web_search_results\": {{ JSON.stringify($('Merge (Impact - Metrics)').first().json.impact_search.data) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        5472
      ],
      "id": "235430a4-4a6e-4041-8266-d65ddd1f2c17",
      "name": "Resolve Provenance (Impact - Metrics)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        5472
      ],
      "id": "d4c2d694-f965-4283-8aed-98c15c300b84",
      "name": "Merge (Impact - Metrics)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        5264
      ],
      "id": "8546b8d6-1d02-40b5-a81c-ea3804068b61",
      "name": "Merge (Impact - Interventions)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        5072
      ],
      "id": "73825109-c66f-4d22-b63d-9f4193e0ac8f",
      "name": "Merge (Impact - Beneficiaries)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "v1/impact_metrics.schema.json"
            },
            {
              "name": "data",
              "value": "={{$json.data}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2144,
        5472
      ],
      "id": "75269bfd-e11b-43d9-b55c-3ddcfc243ada",
      "name": "Schema Validation (Impact - Metrics)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        5680
      ],
      "id": "35fc249d-6697-4472-b5d3-435e3d50b2ff",
      "name": "Merge (Impact - Transparency)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Gemini').first().json.gemini_url }}/{{ $('Vars - Gemini').first().json.gemini_model }}:streamGenerateContent?alt=sse",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n{{ $('Merge (Impact - Transparency)').first().json?.impact_search?.data ? `{\n  \"text\": ${JSON.stringify(JSON.stringify($('Merge (Impact - Transparency)').first().json.impact_search.data))}\n},` : \"\" }}\n        {\"text\": {{ JSON.stringify($('Call \\'Prompt Injection\\' - Impact - Transparency').first().json.injected_prompts[0]) }} }\n      ]\n    }\n  ],\n  \"cachedContent\": \"{{ $('Call \\'Ensure Context Cache is on Gemini\\'').item.json.gemini_cache_name }}\",\n  \"generationConfig\": {\n    \"temperature\": 0,\n    \"responseMimeType\": \"application/json\",\n    \"responseJsonSchema\": {{ JSON.stringify($('Binary to Text (JSON schema, Impact - Transparency)').first().json.data) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        5680
      ],
      "id": "94436d36-2422-4c1e-93c5-b7912a668ca9",
      "name": "Extract Impact - Transparency",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7EY3kWdzHSKXrfnm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "J8UhBTBiMD1hu5vT",
          "mode": "list",
          "cachedResultUrl": "/workflow/J8UhBTBiMD1hu5vT",
          "cachedResultName": "Parse Content from Gemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1472,
        5680
      ],
      "name": "Call Parse Content from Gemini (Impact - Transparency)",
      "id": "bbd2a033-6037-4300-8ff2-6e544850c8f2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/normalize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "v1/impact_transparency.schema.json"
            },
            {
              "name": "data",
              "value": "={{ $json.parsedContentObject }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1696,
        5680
      ],
      "id": "3a650dc1-924f-4345-97b2-bed169a60b80",
      "name": "Normalise (Impact - Transparency)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/resolve-provenance",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {{ JSON.stringify($json) }},\n  \"context\": {\n    \"attached_reports\": {{ JSON.stringify([\n      ... ($('Storage API - Get Charity').first().json.expand?.annual_report?.url\n        ? [$('Storage API - Get Charity').first().json.expand.annual_report.url]\n        : []),\n      ... ($('Storage API - Get Charity').first().json.expand?.financial_report?.url\n        ? [$('Storage API - Get Charity').first().json.expand.financial_report.url]\n        : []),\n]) }},\n    \"web_search_results\": {{ JSON.stringify($('Merge (Impact - Transparency)').first().json.impact_search.data) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        5680
      ],
      "id": "c6a474cf-1ddc-4f86-b1f3-bb2e3fa2882f",
      "name": "Resolve Provenance (Impact - Transparency)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "v1/impact_transparency.schema.json"
            },
            {
              "name": "data",
              "value": "={{$json.data}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2144,
        5680
      ],
      "id": "5d067e91-4bef-4805-89a3-a8b7195ce406",
      "name": "Schema Validation (Impact - Transparency)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {
          "includeUnpaired": false
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2624,
        5328
      ],
      "id": "62877729-bd54-4f43-865f-5e1cd5631407",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d89bb7d9-6f3a-4e00-a103-b49baf8c178b",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.impact }}",
              "rightValue": "true",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f01593b2-1582-4f1f-a3ef-c3be8efd6fea",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.impact?.schema?.beneficiaries?.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "375d00ff-d26c-4026-af98-0fac8c683979",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.impact?.schema?.interventions?.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "645f4b35-5436-4798-98b0-662a1538f0c7",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.impact?.schema?.metrics?.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "822f79ae-ed94-48bd-b8c6-3667a2810cde",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.impact?.schema?.transparency?.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "feb5576e-b533-4693-ae59-e04bfa00ae1d",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.financials }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b425e4cf-7536-44df-8019-e68e8db378b9",
              "leftValue": "={{ $('Storage API - Get Charity').first().json.financials?.schema?.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "eda34bd4-85c4-4834-9c6a-49c42e066794",
              "leftValue": "={{ $('Vars - Input Data').item.json.force_rerun }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1520,
        4944
      ],
      "id": "d38179e7-5c66-4e0a-80ba-bc501562c217",
      "name": "Exists? (Financials+Impact)"
    }
  ],
  "connections": {
    "Auth Storage API": {
      "main": [
        [
          {
            "node": "Vars - Utils API & Schemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Try to Create Charity Record": {
      "main": [
        [
          {
            "node": "Storage API - Get Charity Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Storage API - Get Charity Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars - Input Data": {
      "main": [
        [
          {
            "node": "Vars - Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars - Storage API": {
      "main": [
        [
          {
            "node": "Auth Storage API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists? (Domains)1": {
      "main": [
        [
          {
            "node": "Exists? (Financial Report)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Exists? (Annual Report)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read JSON schema (Meta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Get Charity Record": {
      "main": [
        [
          {
            "node": "Extract Charity List item[0]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Get SWD NGO AFR Record": {
      "main": [
        [
          {
            "node": "if (Financial Report) URL exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsed Content (Financials)": {
      "main": [
        [
          {
            "node": "Normalise (Financials)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists? (Financials)": {
      "main": [
        [
          {
            "node": "Wait until all analysis done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read JSON schema (Finanicals)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Financials": {
      "main": [
        [
          {
            "node": "Wait until all analysis done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists? (Financial Report)": {
      "main": [
        [
          {
            "node": "Wait until all downloads done",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Storage API - Get SWD NGO AFR Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists? (Annual Report)": {
      "main": [
        [
          {
            "node": "Wait until all downloads done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Storage API - Get NGO AR Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Get NGO AR Record": {
      "main": [
        [
          {
            "node": "if (Annual Report) URL exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists? (Impact)": {
      "main": [
        [
          {
            "node": "Wait until all analysis done",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Read JSON schema (Impact - Beneficiaries)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Exists? (Impact Search)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read JSON schema (Impact - Interventions)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read JSON schema (Impact - Metrics)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read JSON schema (Impact - Transparency)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Charity List item[0]": {
      "main": [
        [
          {
            "node": "Exists? (Domains)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Impact": {
      "main": [
        [
          {
            "node": "Wait until all analysis done",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Storage API - Get Charity": {
      "main": [
        [
          {
            "node": "Exists? (Financials+Impact)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Annual Report": {
      "main": [
        [
          {
            "node": "Wait until all downloads done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Financial Report1": {
      "main": [
        [
          {
            "node": "Wait until all downloads done",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "if (Annual Report) URL exists": {
      "main": [
        [
          {
            "node": "Download PDF & OCR (Annual Report)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait until all downloads done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF & OCR (Annual Report)": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Annual Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if (Financial Report) URL exists": {
      "main": [
        [
          {
            "node": "Download PDF & OCR (Financial Report)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait until all downloads done",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download PDF & OCR (Financial Report)": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Financial Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait until all downloads done": {
      "main": [
        [
          {
            "node": "Storage API - Get Charity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars - PDF API": {
      "main": [
        [
          {
            "node": "Storage API - Try to Create Charity Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsed Content (Metadata)": {
      "main": [
        [
          {
            "node": "Schema Validation (Metadata)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Metadata": {
      "main": [
        [
          {
            "node": "Exists? (Financial Report)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Exists? (Annual Report)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON schema (Finanicals)": {
      "main": [
        [
          {
            "node": "Binary to Text (JSON schema, Financials)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Text (JSON schema, Financials)": {
      "main": [
        [
          {
            "node": "Call 'Prompt Injection' - Financials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars - Utils API & Schemas": {
      "main": [
        [
          {
            "node": "Vars - PDF API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Validation (Financials)": {
      "main": [
        [
          {
            "node": "Merge Finanicals with Validation",
            "type": "main",
            "index": 1
          }
        ],
        []
      ]
    },
    "Wait until all analysis done": {
      "main": [
        [
          {
            "node": "Storage API - Get Charity for analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Get Charity for analytics": {
      "main": [
        [
          {
            "node": "Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analytics": {
      "main": [
        [
          {
            "node": "Schema Validation (Analytics)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Validation (Analytics)": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Analytics": {
      "main": [
        [
          {
            "node": "Convert to File (output Organisation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File (output Organisation)": {
      "main": [
        [
          {
            "node": "Write to data/organisations/{id}.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt Injection' - Financials": {
      "main": [
        [
          {
            "node": "Extract Financials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Metadata": {
      "main": [
        [
          {
            "node": "Parsed Content (Metadata)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars - Gemini": {
      "main": [
        [
          {
            "node": "Vars - Storage API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Vars - Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Financials": {
      "main": [
        [
          {
            "node": "Parsed Content (Financials)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Get Charity1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ensure File is on Gemini": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call Ensure File is on Gemini1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Storage API - Get Charity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON schema (Meta)": {
      "main": [
        [
          {
            "node": "Binary to Text (JSON schema, Meta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Text (JSON schema, Meta)": {
      "main": [
        [
          {
            "node": "Call 'Prompt Injection' - Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt Injection' - Meta": {
      "main": [
        [
          {
            "node": "Find Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Validation (Metadata)": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call Ensure File is on Gemini1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Call Ensure File is on Gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search for Impact Snippets": {
      "main": [
        [
          {
            "node": "Parsed Content (Impact Search)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt Injection' - Impact Search": {
      "main": [
        [
          {
            "node": "Search for Impact Snippets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Validation (Impact Search)": {
      "main": [
        [
          {
            "node": "Resolve URLs (Impact Search)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsed Content (Impact Search)": {
      "main": [
        [
          {
            "node": "Schema Validation (Impact Search)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Impact1": {
      "main": [
        [
          {
            "node": "Merge (Impact - Beneficiaries)",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge (Impact - Interventions)",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge (Impact - Metrics)",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge (Impact - Transparency)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Exists? (Impact Search)": {
      "main": [
        [
          {
            "node": "Merge (Impact - Beneficiaries)",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge (Impact - Interventions)",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge (Impact - Metrics)",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge (Impact - Transparency)",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Call 'Prompt Injection' - Impact Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Financials Schema Valid": {
      "main": [
        [
          {
            "node": "Call Fill Exchange Rate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schema Validation (Financials)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Finanicals with Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Fill Exchange Rate": {
      "main": [
        [
          {
            "node": "Merge Currency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Finanicals with Validation": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Financials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Currency": {
      "main": [
        [
          {
            "node": "Schema Validation (Financials)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Finanicals with Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Provenance (Financials)": {
      "main": [
        [
          {
            "node": "If Financials Schema Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve URLs (Impact Search)": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Impact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise (Financials)": {
      "main": [
        [
          {
            "node": "Resolve Provenance (Financials)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt Injection' - Master": {
      "main": [
        [
          {
            "node": "Call 'Ensure Context Cache is on Gemini'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Ensure Context Cache is on Gemini'": {
      "main": [
        [
          {
            "node": "Storage API - Get Charity2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Get Charity2": {
      "main": [
        [
          {
            "node": "Exists? (Financials)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Exists? (Impact)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON schema (Impact - Beneficiaries)": {
      "main": [
        [
          {
            "node": "Binary to Text (JSON schema, Impact - Beneficiaries)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Text (JSON schema, Impact - Beneficiaries)": {
      "main": [
        [
          {
            "node": "Call 'Prompt Injection' - Impact - Beneficiaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt Injection' - Impact - Beneficiaries": {
      "main": [
        [
          {
            "node": "Merge (Impact - Beneficiaries)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON schema (Impact - Interventions)": {
      "main": [
        [
          {
            "node": "Binary to Text (JSON schema, Impact - Interventions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Text (JSON schema, Impact - Interventions)": {
      "main": [
        [
          {
            "node": "Call 'Prompt Injection' - Impact - Interventions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON schema (Impact - Metrics)": {
      "main": [
        [
          {
            "node": "Binary to Text (JSON schema, Impact - Metrics)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Text (JSON schema, Impact - Metrics)": {
      "main": [
        [
          {
            "node": "Call 'Prompt Injection' - Impact - Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON schema (Impact - Transparency)": {
      "main": [
        [
          {
            "node": "Binary to Text (JSON schema, Impact - Transparency)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Text (JSON schema, Impact - Transparency)": {
      "main": [
        [
          {
            "node": "Call 'Prompt Injection' - Impact - Transparency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Impact - Beneficiaries": {
      "main": [
        [
          {
            "node": "Call Parse Content from Gemini (Impact - Beneficiaries)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise (Impact - Beneficiaries)": {
      "main": [
        [
          {
            "node": "Resolve Provenance (Impact - Beneficiaries)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Provenance (Impact - Beneficiaries)": {
      "main": [
        [
          {
            "node": "Schema Validation (Impact - Beneficiaries)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Validation (Impact - Beneficiaries)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call 'Prompt Injection' - Impact - Interventions": {
      "main": [
        [
          {
            "node": "Merge (Impact - Interventions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Impact - Interventions": {
      "main": [
        [
          {
            "node": "Call Parse Content from Gemini (Impact - Interventions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Parse Content from Gemini (Impact - Beneficiaries)": {
      "main": [
        [
          {
            "node": "Normalise (Impact - Beneficiaries)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Parse Content from Gemini (Impact - Interventions)": {
      "main": [
        [
          {
            "node": "Normalise (Impact - Interventions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise (Impact - Interventions)": {
      "main": [
        [
          {
            "node": "Resolve Provenance (Impact - Interventions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Provenance (Impact - Interventions)": {
      "main": [
        [
          {
            "node": "Schema Validation (Impact - Interventions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Impact - Metrics": {
      "main": [
        [
          {
            "node": "Call Parse Content from Gemini (Impact - Metrics)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Parse Content from Gemini (Impact - Metrics)": {
      "main": [
        [
          {
            "node": "Normalise (Impact - Metrics)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise (Impact - Metrics)": {
      "main": [
        [
          {
            "node": "Resolve Provenance (Impact - Metrics)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Provenance (Impact - Metrics)": {
      "main": [
        [
          {
            "node": "Schema Validation (Impact - Metrics)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge (Impact - Metrics)": {
      "main": [
        [
          {
            "node": "Extract Impact - Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge (Impact - Interventions)": {
      "main": [
        [
          {
            "node": "Extract Impact - Interventions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge (Impact - Beneficiaries)": {
      "main": [
        [
          {
            "node": "Extract Impact - Beneficiaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge (Impact - Transparency)": {
      "main": [
        [
          {
            "node": "Extract Impact - Transparency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Impact - Transparency": {
      "main": [
        [
          {
            "node": "Call Parse Content from Gemini (Impact - Transparency)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Parse Content from Gemini (Impact - Transparency)": {
      "main": [
        [
          {
            "node": "Normalise (Impact - Transparency)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise (Impact - Transparency)": {
      "main": [
        [
          {
            "node": "Resolve Provenance (Impact - Transparency)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Provenance (Impact - Transparency)": {
      "main": [
        [
          {
            "node": "Schema Validation (Impact - Transparency)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt Injection' - Impact - Metrics": {
      "main": [
        [
          {
            "node": "Merge (Impact - Metrics)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt Injection' - Impact - Transparency": {
      "main": [
        [
          {
            "node": "Merge (Impact - Transparency)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Impact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Validation (Impact - Interventions)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schema Validation (Impact - Metrics)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Schema Validation (Impact - Transparency)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Exists? (Financials+Impact)": {
      "main": [
        [
          {
            "node": "Storage API - Get Charity2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Prompt Injection' - Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a87faea8-20b6-4540-9f5f-298a73c9ea61",
  "activeVersionId": "9a570968-71b2-4212-8ac9-0d5fb8eccfe2",
  "versionCounter": 462,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-23T06:15:26.456Z",
      "createdAt": "2026-03-23T06:15:26.456Z",
      "role": "workflow:owner",
      "workflowId": "SUjUpjve9Vj6aJSbbuIWL",
      "projectId": "MLrAMrYp6Pd9fMCA",
      "project": {
        "updatedAt": "2026-03-23T06:16:28.555Z",
        "createdAt": "2026-03-23T06:15:24.033Z",
        "id": "MLrAMrYp6Pd9fMCA",
        "name": "Po Man CHENG <poman+n8n@outlook.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a53db5d5-be10-41da-aa5f-38590a7aa9ac"
      }
    }
  ]
}