n8n/workflows/SUjUpjve9Vj6aJSbbuIWL.json
{
  "updatedAt": "2026-02-25T06:28:25.826Z",
  "createdAt": "2026-01-21T04:40:29.603Z",
  "id": "SUjUpjve9Vj6aJSbbuIWL",
  "name": "Charity Analysis",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.storage_api_host }}/collections/_superusers/auth-with-password",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1376,
        2736
      ],
      "id": "934c210b-630c-45b3-909a-c4da1c7a6a5b",
      "name": "Auth Storage API",
      "credentials": {
        "httpCustomAuth": {
          "id": "OEvqdznOMAiGoZPr",
          "name": "Storage API Get Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://storage_api:8090/api/collections/organisations/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Vars - Input Data').item.json.organization_name }}"
            },
            {
              "name": "analysis_batch_id",
              "value": "={{ $('Vars - Input Data').item.json.analysis_batch_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        2736
      ],
      "id": "a50cd0b8-833b-465a-9162-dbfaed610310",
      "name": "Storage API - Try to Create Charity Record",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "organization_name",
              "value": "={{ $json.query.organisation_name }}"
            },
            {
              "name": "analysis_batch_id",
              "value": "={{ $json.query.analysis_batch_id }}"
            }
          ],
          "boolean": [
            {
              "name": "force_rerun",
              "value": "={{ $json.query.force_rerun || false }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Vars - Input Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2048,
        2736
      ],
      "id": "c4462a41-5410-449a-bf28-c0f414030e97"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67a35460-e53f-49bd-8a59-11e6aa0a4a6f",
              "name": "storage_api_host",
              "value": "http://storage_api:8090/api",
              "type": "string"
            },
            {
              "id": "9180d8be-301e-4937-b0b0-6a09b1b73606",
              "name": "storage_api_user",
              "value": "admin@example.com",
              "type": "string"
            },
            {
              "id": "ed78706d-d660-48e8-b96c-748cc3a97668",
              "name": "storage_api_password",
              "value": "supersecret123",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        2736
      ],
      "id": "5419c62a-708d-44c7-a740-24b3a8e1200f",
      "name": "Vars - Storage API"
    },
    {
      "parameters": {
        "url": "http://storage_api:8090/api/collections/organisations/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=(name='{{ $('Vars - Input Data').item.json.organization_name.replaceAll(\"'\", \"\\\\'\") }}' && analysis_batch_id='{{ $('Vars - Input Data').item.json.analysis_batch_id }}')"
            },
            {
              "name": "expand",
              "value": "financial_report,annual_report,remuneration_package_review_report"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -128,
        2736
      ],
      "id": "36ee9752-8958-4050-a88c-d664baa0cc99",
      "name": "Storage API - Get Charity Record",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "34b56356-a643-4657-b229-9607b55d688b",
              "leftValue": "={{ $json.domains == null || $json.meta == null }}",
              "rightValue": "={{ false }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1744,
        3328
      ],
      "id": "f6cfdb61-e715-47cd-90ed-767e55d15e31",
      "name": "Exists? (Domains)1"
    },
    {
      "parameters": {
        "url": "=http://storage_api:8090/api/collections/reports/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=(type='audited financial report' && organisation='{{ $json.name.replaceAll(\"'\", \"\\\\'\") }}')"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1040,
        4112
      ],
      "id": "12802772-ae51-4471-85f7-0d0f921a0328",
      "name": "Storage API - Get SWD NGO AFR Record",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extracts and parses JSON from a string, removing Markdown code blocks if present.\n * @param {string} llmOutput - The raw string returned by the LLM.\n * @returns {object} - The parsed JSON object.\n * @throws {Error} - If no JSON can be found or parsed.\n */\nfunction parseLlmJson(llmOutput) {\n  // 1. Regex to find content inside ```json ... ``` or just ``` ... ```\n  //    Matches: ```(optional language) (content) ```\n  const jsonCodeBlockRegex = /```(?:json)?\\s*([\\s\\S]*?)\\s*```/i;\n  \n  const match = llmOutput.match(jsonCodeBlockRegex);\n  let jsonString = '';\n\n  if (match && match[1]) {\n    // We found a code block, use the content inside capture group 1\n    jsonString = match[1];\n  } else {\n    // 2. Fallback: If no code block found, try to extract from first '{' to last '}'\n    // This handles cases where the LLM just returns raw JSON or text mixed with JSON without markdown.\n    const firstBrace = llmOutput.indexOf('{');\n    const lastBrace = llmOutput.lastIndexOf('}');\n\n    if (firstBrace !== -1 && lastBrace !== -1) {\n      jsonString = llmOutput.substring(firstBrace, lastBrace + 1);\n    } else {\n      throw new Error(\"No JSON structure found in input string.\");\n    }\n  }\n\n  // 3. Parse the extracted string\n  try {\n    return JSON.parse(jsonString);\n  } catch (error) {\n    console.error(\"Extraction successful, but JSON.parse failed on:\", jsonString);\n    throw new Error(`Invalid JSON content: ${error.message}`);\n  }\n}\n\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.parsedContentObject = parseLlmJson(item.json.candidates[0].content.parts[0].text);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        4784
      ],
      "id": "3333d458-13cd-4ba2-8999-793ac197f545",
      "name": "Parsed Content (Financials)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "financials",
              "value": "={{\n  {\n    data: $('Parsed Content (Financials)').first().json.parsedContentObject,\n    schema: $('Schema Validation (Financials)').first().json,\n    audit_trails: $('Parsed Content (Financials)').first().json.search_results\n  }\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1104,
        4784
      ],
      "id": "e5307cb1-7e6a-4b46-97ba-a7a853380adb",
      "name": "Storage API - Update Charity - Financials",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d89bb7d9-6f3a-4e00-a103-b49baf8c178b",
              "leftValue": "={{ $json.financials }}",
              "rightValue": "true",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "55fffb24-7792-4c5a-9af8-5bd5c0454671",
              "leftValue": "={{ $('Vars - Input Data').item.json.force_rerun }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -592,
        4784
      ],
      "id": "e407b29a-e2a8-45bc-927a-83225e401d5e",
      "name": "Exists? (Financials)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "34b56356-a643-4657-b229-9607b55d688b",
              "leftValue": "={{ $json.financial_report }}",
              "rightValue": "={{ false }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1264,
        4112
      ],
      "id": "10e700bb-f722-4ee0-abbf-8f197fed7196",
      "name": "Exists? (Financial Report)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "34b56356-a643-4657-b229-9607b55d688b",
              "leftValue": "={{ $json.annual_report }}",
              "rightValue": "={{ false }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1264,
        3888
      ],
      "id": "0fa06927-77e8-476d-a8a4-63f6d3b004bd",
      "name": "Exists? (Annual Report)"
    },
    {
      "parameters": {
        "url": "=http://storage_api:8090/api/collections/reports/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=(type='annual report' && organisation='{{ $json.name.replaceAll(\"'\", \"\\\\'\") }}')"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1040,
        3888
      ],
      "id": "eb53c80d-a89b-432e-b329-d7d89cc3afed",
      "name": "Storage API - Get NGO AR Record",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d89bb7d9-6f3a-4e00-a103-b49baf8c178b",
              "leftValue": "={{ $json.impact }}",
              "rightValue": "true",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "eda34bd4-85c4-4834-9c6a-49c42e066794",
              "leftValue": "={{ $('Vars - Input Data').item.json.force_rerun }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -592,
        4976
      ],
      "id": "2a34d71c-08c4-4214-9ce1-8b7c010ec0f6",
      "name": "Exists? (Impact)"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json = {\n    ...item.json.items[0]\n  };\n}\n\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        2736
      ],
      "id": "07f180b7-6bf9-40ec-afd6-0cdcd0302d1a",
      "name": "Extract Charity List item[0]"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extracts and parses JSON from a string, removing Markdown code blocks if present.\n * @param {string} llmOutput - The raw string returned by the LLM.\n * @returns {object} - The parsed JSON object.\n * @throws {Error} - If no JSON can be found or parsed.\n */\nfunction parseLlmJson(llmOutput) {\n  // 1. Regex to find content inside ```json ... ``` or just ``` ... ```\n  //    Matches: ```(optional language) (content) ```\n  const jsonCodeBlockRegex = /```(?:json)?\\s*([\\s\\S]*?)\\s*```/i;\n  \n  const match = llmOutput.match(jsonCodeBlockRegex);\n  let jsonString = '';\n\n  if (match && match[1]) {\n    // We found a code block, use the content inside capture group 1\n    jsonString = match[1];\n  } else {\n    // 2. Fallback: If no code block found, try to extract from first '{' to last '}'\n    // This handles cases where the LLM just returns raw JSON or text mixed with JSON without markdown.\n    const firstBrace = llmOutput.indexOf('{');\n    const lastBrace = llmOutput.lastIndexOf('}');\n\n    if (firstBrace !== -1 && lastBrace !== -1) {\n      jsonString = llmOutput.substring(firstBrace, lastBrace + 1);\n    } else {\n      throw new Error(\"No JSON structure found in input string.\");\n    }\n  }\n\n  // 3. Parse the extracted string\n  try {\n    return JSON.parse(jsonString);\n  } catch (error) {\n    console.error(\"Extraction successful, but JSON.parse failed on:\", jsonString);\n    throw new Error(`Invalid JSON content: ${error.message}`);\n  }\n}\n\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.parsedContentObject = parseLlmJson(item.json.candidates[0].content.parts[0].text);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        4976
      ],
      "id": "0b3ae788-3a95-41e6-81be-9e2e486bceba",
      "name": "Parsed Content (Impact Metrics)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "impact",
              "value": "={{\n  {\n    data: $('Parsed Content (Impact Metrics)').first().json.parsedContentObject,\n    schema: $('Schema Validation (Impact)').first().json,\n    audit_trails: $('Parsed Content (Impact Metrics)').first().json.search_results\n  }\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1104,
        4976
      ],
      "id": "11eed72d-0760-4c49-a86d-d9684350d124",
      "name": "Storage API - Update Charity - Impact",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expand",
              "value": "financial_report,annual_report"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -816,
        4976
      ],
      "id": "28387461-e581-4a38-a6e0-1d4757b0c40b",
      "name": "Storage API - Get Charity",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "annual_report",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        3888
      ],
      "id": "a8d9b084-0abe-4aa2-9180-3849c50232d2",
      "name": "Storage API - Update Charity - Annual Report",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "financial_report",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        4112
      ],
      "id": "ffe05908-58d7-40b6-90b8-a657600a09c8",
      "name": "Storage API - Update Charity - Financial Report1",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a53a09dd-76ca-49f3-bc5a-8a7f2f2208cf",
              "leftValue": "={{ $json.items[0].url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -816,
        3888
      ],
      "id": "7d72a4b6-22e6-4458-9141-f69e622b11ba",
      "name": "if (Annual Report) URL exists"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dM945Azme2TNMwoX",
          "mode": "list",
          "cachedResultUrl": "/workflow/dM945Azme2TNMwoX",
          "cachedResultName": "Download PDF"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "storage_api_host": "={{ $('Vars - Storage API').first().json.storage_api_host }}",
            "pdf_api_host": "={{ $('Vars - PDF API').first().json.pdf_api_host }}",
            "download_url": "={{ $json.items[0].url }}",
            "output_text_format": "text",
            "compress_trigger_size_mb": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "storage_api_host",
              "displayName": "storage_api_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "pdf_api_host",
              "displayName": "pdf_api_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "download_url",
              "displayName": "download_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_text_format",
              "displayName": "output_text_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "compress_trigger_size_mb",
              "displayName": "compress_trigger_size_mb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -592,
        3888
      ],
      "id": "23d0729e-823a-4a40-bcae-2af0b986dbee",
      "name": "Download PDF & OCR (Annual Report)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a53a09dd-76ca-49f3-bc5a-8a7f2f2208cf",
              "leftValue": "={{ $json.items[0].url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -816,
        4112
      ],
      "id": "d323101f-1c02-4ae1-84ed-3aa8ddcfccde",
      "name": "if (Financial Report) URL exists"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dM945Azme2TNMwoX",
          "mode": "list",
          "cachedResultUrl": "/workflow/dM945Azme2TNMwoX",
          "cachedResultName": "Download PDF"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "storage_api_host": "={{ $('Vars - Storage API').first().json.storage_api_host }}",
            "pdf_api_host": "={{ $('Vars - PDF API').first().json.pdf_api_host }}",
            "download_url": "={{ $json.items[0].url }}",
            "output_text_format": "text",
            "compress_trigger_size_mb": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "storage_api_host",
              "displayName": "storage_api_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "pdf_api_host",
              "displayName": "pdf_api_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "download_url",
              "displayName": "download_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_text_format",
              "displayName": "output_text_format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "compress_trigger_size_mb",
              "displayName": "compress_trigger_size_mb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -592,
        4112
      ],
      "id": "f687c2ea-0792-46a5-95d1-5c6d47ca6dda",
      "name": "Download PDF & OCR (Financial Report)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -144,
        4032
      ],
      "id": "6194ad4e-4816-4192-a0ab-4f9847cd22e2",
      "name": "Wait until all downloads done"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1536,
        4912
      ],
      "id": "4e69b7dd-2676-4d8f-940f-7d3b4bd3c1e1",
      "name": "Wait until all analysis done"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67a35460-e53f-49bd-8a59-11e6aa0a4a6f",
              "name": "pdf_api_host",
              "value": "http://pdf_api:8080",
              "type": "string"
            },
            {
              "id": "ed78706d-d660-48e8-b96c-748cc3a97668",
              "name": "pdf_api_key",
              "value": "={{ $env.CREDENTIALS_PDF_API_KEY }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        2736
      ],
      "id": "c3dea347-fc34-425f-ada3-3bfb10c76729",
      "name": "Vars - PDF API"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d89bb7d9-6f3a-4e00-a103-b49baf8c178b",
              "leftValue": "={{ $json.risk }}",
              "rightValue": "true",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "6fcfc4b2-e6e8-449d-beba-7b886d2b3a18",
              "leftValue": "={{ $('Vars - Input Data').item.json.force_rerun }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -592,
        5168
      ],
      "id": "e4440626-b37c-4592-84ef-97739246200a",
      "name": "Exists? (Risk)"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extracts and parses JSON from a string, removing Markdown code blocks if present.\n * @param {string} llmOutput - The raw string returned by the LLM.\n * @returns {object} - The parsed JSON object.\n * @throws {Error} - If no JSON can be found or parsed.\n */\nfunction parseLlmJson(llmOutput) {\n  // 1. Regex to find content inside ```json ... ``` or just ``` ... ```\n  //    Matches: ```(optional language) (content) ```\n  const jsonCodeBlockRegex = /```(?:json)?\\s*([\\s\\S]*?)\\s*```/i;\n  \n  const match = llmOutput.match(jsonCodeBlockRegex);\n  let jsonString = '';\n\n  if (match && match[1]) {\n    // We found a code block, use the content inside capture group 1\n    jsonString = match[1];\n  } else {\n    // 2. Fallback: If no code block found, try to extract from first '{' to last '}'\n    // This handles cases where the LLM just returns raw JSON or text mixed with JSON without markdown.\n    const firstBrace = llmOutput.indexOf('{');\n    const lastBrace = llmOutput.lastIndexOf('}');\n\n    if (firstBrace !== -1 && lastBrace !== -1) {\n      jsonString = llmOutput.substring(firstBrace, lastBrace + 1);\n    } else {\n      throw new Error(\"No JSON structure found in input string.\");\n    }\n  }\n\n  // 3. Parse the extracted string\n  try {\n    return JSON.parse(jsonString);\n  } catch (error) {\n    console.error(\"Extraction successful, but JSON.parse failed on:\", jsonString);\n    throw new Error(`Invalid JSON content: ${error.message}`);\n  }\n}\n\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.parsedContentObject = parseLlmJson(item.json.content.parts[0].text);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        5168
      ],
      "id": "068f9452-4446-4870-8368-ef369b4f4723",
      "name": "Parsed Content (Risk)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "risk",
              "value": "={{\n  {\n    data: $('Parsed Content (Risk)').first().json.parsedContentObject,\n    schema: $('Schema Validation (Risk)').first().json,\n    audit_trails: $('Parsed Content (Risk)').first().json.search_results\n  }\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1104,
        5168
      ],
      "id": "2d914e5e-728f-4543-8d41-c89bf010b47a",
      "name": "Storage API - Update Charity - Risk",
      "credentials": {
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extracts and parses JSON from a string, removing Markdown code blocks if present.\n * @param {string} llmOutput - The raw string returned by the LLM.\n * @returns {object} - The parsed JSON object.\n * @throws {Error} - If no JSON can be found or parsed.\n */\nfunction parseLlmJson(llmOutput) {\n  // 1. Regex to find content inside ```json ... ``` or just ``` ... ```\n  //    Matches: ```(optional language) (content) ```\n  const jsonCodeBlockRegex = /```(?:json)?\\s*([\\s\\S]*?)\\s*```/i;\n  \n  const match = llmOutput.match(jsonCodeBlockRegex);\n  let jsonString = '';\n\n  if (match && match[1]) {\n    // We found a code block, use the content inside capture group 1\n    jsonString = match[1];\n  } else {\n    // 2. Fallback: If no code block found, try to extract from first '{' to last '}'\n    // This handles cases where the LLM just returns raw JSON or text mixed with JSON without markdown.\n    const firstBrace = llmOutput.indexOf('{');\n    const lastBrace = llmOutput.lastIndexOf('}');\n\n    if (firstBrace !== -1 && lastBrace !== -1) {\n      jsonString = llmOutput.substring(firstBrace, lastBrace + 1);\n    } else {\n      throw new Error(\"No JSON structure found in input string.\");\n    }\n  }\n\n  // 3. Parse the extracted string\n  try {\n    return JSON.parse(jsonString);\n  } catch (error) {\n    console.error(\"Extraction successful, but JSON.parse failed on:\", jsonString);\n    throw new Error(`Invalid JSON content: ${error.message}`);\n  }\n}\n\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.parsedContentObject = parseLlmJson(item.json.content.parts[0].text);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        3328
      ],
      "id": "4fd035b9-58be-45db-acf7-10d9c6b2f7d0",
      "name": "Parsed Content (Metadata)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').item.json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expand",
              "value": "financial_report,annual_report,remuneration_package_review_report"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "domains",
              "value": "={{ $('Parsed Content (Metadata)').first().json.parsedContentObject.domains }}"
            },
            {
              "name": "meta",
              "value": "={{ $('Parsed Content (Metadata)').first().json.parsedContentObject }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        3328
      ],
      "id": "f7d7d4c4-ac67-4f06-8d5b-2d26edd948ae",
      "name": "Storage API - Update Charity - Metadata",
      "credentials": {
        "httpBasicAuth": {
          "id": "CYK1lbsQqtbIDet9",
          "name": "storage_api credential"
        },
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/schemas/{{ $('Vars - Utils API & Schemas').first().json.financials_schema }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -368,
        4784
      ],
      "id": "c8573093-d3b1-4b1e-a668-99f76de7611d",
      "name": "Read JSON schema (Finanicals)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        4784
      ],
      "id": "43f2d83d-2dab-4a2f-ad97-eb96e1a57b7c",
      "name": "Binary to Text (JSON schema, Financials)"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/schemas/{{ $('Vars - Utils API & Schemas').first().json.impact_schema }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -368,
        4976
      ],
      "id": "873391a7-de81-422e-aa1e-00095b8d5bfd",
      "name": "Read JSON schema (Impact)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        4976
      ],
      "id": "42eca936-3a6c-42ca-8515-5cb8b0b0fff0",
      "name": "Binary to Text (JSON schema, Impact)"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/schemas/{{ $('Vars - Utils API & Schemas').first().json.risk_schema }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -368,
        5168
      ],
      "id": "19745ac5-6ace-4044-adea-b1df3d3bd992",
      "name": "Read JSON schema (Risk)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        5168
      ],
      "id": "0cccc52b-0366-4317-8be6-2a532da023e1",
      "name": "Binary to Text (JSON schema, Risk)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96e2e13e-00d7-4cec-a328-2931cdfb7639",
              "name": "utils_api_host",
              "value": "http://utils_api:8000",
              "type": "string"
            },
            {
              "id": "d490c2c2-9038-4035-b94b-3b10a1216677",
              "name": "financials_schema",
              "value": "v1/financials.schema.json",
              "type": "string"
            },
            {
              "id": "bdadfdbc-474e-41f6-8a20-5ca68992d573",
              "name": "impact_schema",
              "value": "v1/impact.schema.json",
              "type": "string"
            },
            {
              "id": "4312bd2c-524f-4ada-b973-9266b0399fe3",
              "name": "risk_schema",
              "value": "v1/risk.schema.json",
              "type": "string"
            },
            {
              "id": "3c26dc4b-0871-480a-ac8b-4ce09a5291f9",
              "name": "analytics_schema",
              "value": "v1/analytics.schema.json",
              "type": "string"
            },
            {
              "id": "969b91d5-d43a-42b9-929b-86514c8e970f",
              "name": "meta_schema",
              "value": "v1/meta.schema.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        2736
      ],
      "id": "8e1def45-bb31-433d-b648-3f3f7abc4016",
      "name": "Vars - Utils API & Schemas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "={{ $('Vars - Utils API & Schemas').first().json.financials_schema }}"
            },
            {
              "name": "data",
              "value": "={{$('Parsed Content (Financials)').first().json.parsedContentObject}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        4784
      ],
      "id": "aa74cb56-95e5-460d-a243-e21ac462ce07",
      "name": "Schema Validation (Financials)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "={{ $('Vars - Utils API & Schemas').first().json.impact_schema }}"
            },
            {
              "name": "data",
              "value": "={{$('Parsed Content (Impact Metrics)').first().json.parsedContentObject}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        4976
      ],
      "id": "952e0b4d-b417-49c7-8e2f-689293a77d15",
      "name": "Schema Validation (Impact)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "={{ $('Vars - Utils API & Schemas').first().json.risk_schema }}"
            },
            {
              "name": "data",
              "value": "={{$('Parsed Content (Risk)').first().json.parsedContentObject}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        5168
      ],
      "id": "a01a78b3-92a9-42d5-9ee7-e5c565f274a9",
      "name": "Schema Validation (Risk)"
    },
    {
      "parameters": {
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        5792
      ],
      "id": "daa94103-de9c-45cd-a111-8ccdf5bd7535",
      "name": "Storage API - Get Charity for analytics",
      "credentials": {
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/audit",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "financials",
              "value": "={{ $json.financials.data }}"
            },
            {
              "name": "governance",
              "value": "={{ $json.governance.data }}"
            },
            {
              "name": "impact",
              "value": "={{ $json.impact.data }}"
            },
            {
              "name": "risk",
              "value": "={{ $json.risk.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        5792
      ],
      "id": "7d0a98eb-616a-40eb-b702-8e27938c5a10",
      "name": "Analytics"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "analytics",
              "value": "={{ $('Analytics').first().json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        752,
        5792
      ],
      "id": "436a2d59-2ce2-46db-aa21-c50b3ff4d27f",
      "name": "Storage API - Update Charity - Analytics",
      "credentials": {
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "={{ $('Vars - Utils API & Schemas').first().json.analytics_schema }}"
            },
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        5792
      ],
      "id": "ba12ec3b-70da-4ec9-9a06-8764173347bf",
      "name": "Schema Validation (Analytics)"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        960,
        5792
      ],
      "id": "2305608b-3a7a-4308-b756-d42e84750744",
      "name": "Convert to File (output Organisation)"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/data/organisations/{{ $('Storage API - Update Charity - Analytics').first().json.id }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1168,
        5792
      ],
      "id": "2f997672-e136-41b1-978a-5f70efc0c365",
      "name": "Write to data/organisations/{id}.json"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KyDtBHSVI5wyX2KM",
          "mode": "list",
          "cachedResultUrl": "/workflow/KyDtBHSVI5wyX2KM",
          "cachedResultName": "Prepare Prompts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_file_paths": "={{ [\n  \"/home/node/.n8n-files/prompt-templates/financials.system.md\",\n  \"/home/node/.n8n-files/prompt-templates/financials.user.md\"\n] }}",
            "injection_dict": "={{ {\n  STRINGIFIED_JSON_SCHEMA: JSON.stringify($('Binary to Text (JSON schema, Financials)').first().json.data)\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_file_paths",
              "displayName": "prompt_file_paths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "injection_dict",
              "displayName": "injection_dict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        80,
        4784
      ],
      "id": "c30db9fc-4f48-49bc-b042-6d5a6296227f",
      "name": "Call 'Prompt Injection' - Financials"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KyDtBHSVI5wyX2KM",
          "mode": "list",
          "cachedResultUrl": "/workflow/KyDtBHSVI5wyX2KM",
          "cachedResultName": "Prompt Injection"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_file_paths": "={{ [\n  \"/home/node/.n8n-files/prompt-templates/impact.system.md\",\n  \"/home/node/.n8n-files/prompt-templates/impact.user.md\"\n] }}",
            "injection_dict": "={{ {\n  STRINGIFIED_JSON_SCHEMA: JSON.stringify($('Binary to Text (JSON schema, Impact)').first().json.data)\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_file_paths",
              "displayName": "prompt_file_paths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "injection_dict",
              "displayName": "injection_dict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        80,
        4976
      ],
      "id": "0dd9bc57-8100-44ec-bb28-791c8e08ea1c",
      "name": "Call 'Prompt Injection' - Impact"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KyDtBHSVI5wyX2KM",
          "mode": "list",
          "cachedResultUrl": "/workflow/KyDtBHSVI5wyX2KM",
          "cachedResultName": "Prompt Injection"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_file_paths": "={{ [\n  \"/home/node/.n8n-files/prompt-templates/risk.system.md\",\n  \"/home/node/.n8n-files/prompt-templates/risk.user.md\"\n] }}",
            "injection_dict": "={{ {\n  STRINGIFIED_JSON_SCHEMA: JSON.stringify($('Binary to Text (JSON schema, Risk)').first().json.data),\n  CHARITY_NAME: $('Exists? (Risk)').first().json.name.replaceAll(\"'\", \"\\\\'\"),\n  CHARITY_NAME_CHI: $('Exists? (Risk)').first().json.meta.chinese_name.replaceAll(\"'\", \"\\\\'\")\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_file_paths",
              "displayName": "prompt_file_paths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "injection_dict",
              "displayName": "injection_dict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        80,
        5168
      ],
      "id": "5e6872a8-efe8-494a-858a-ed5620a89205",
      "name": "Call 'Prompt Injection' - Risk"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $('Vars - Gemini').item.json.gemini_model }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=<system prompt>\n{{ $('Call \\'Prompt Injection\\' - Meta').first().json.injected_prompts[0] }}\n</system prompt>\n<user prompt>\n{{ $('Call \\'Prompt Injection\\' - Meta').first().json.injected_prompts[1] }}\n</user prompt>"
            }
          ]
        },
        "builtInTools": {
          "googleSearch": true
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -848,
        3328
      ],
      "id": "10e19ddb-bb47-4936-9fcf-7cd33dab55d6",
      "name": "Find Metadata",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7EY3kWdzHSKXrfnm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $('Vars - Gemini').first().json.gemini_model }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=<system prompt>\n{{ $('Call \\'Prompt Injection\\' - Risk').first().json.injected_prompts[0] }}\n</system prompt>\n<user prompt>\n{{ $('Call \\'Prompt Injection\\' - Risk').first().json.injected_prompts[1] }}\n</user prompt>"
            }
          ]
        },
        "builtInTools": {
          "googleSearch": true
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        304,
        5168
      ],
      "id": "2d574742-2501-42bd-88a7-1f118a55c12a",
      "name": "Extract Risk",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7EY3kWdzHSKXrfnm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "287a3eae-d459-488b-a8fc-1392ad6476b6",
              "name": "gemini_url",
              "value": "https://generativelanguage.googleapis.com/v1beta",
              "type": "string"
            },
            {
              "id": "19e98406-4d26-4cfc-a12c-1f2580beb280",
              "name": "gemini_model",
              "value": "models/gemini-2.5-flash",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        2736
      ],
      "id": "4a71ebdb-507e-4a75-a16d-adafe65576aa",
      "name": "Vars - Gemini"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "charity-analysis",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2272,
        2736
      ],
      "id": "191c9cf1-b0a1-42ec-b285-543770263887",
      "name": "Webhook",
      "webhookId": "85e5816d-e14c-46af-806e-37989476e2e5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Gemini').first().json.gemini_url }}/{{ $('Vars - Gemini').first().json.gemini_model }}:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\"text\": {{ JSON.stringify($('Call \\'Prompt Injection\\' - Financials').first().json.injected_prompts[0]) }} },\n        {\"text\": {{ JSON.stringify($('Call \\'Prompt Injection\\' - Financials').first().json.injected_prompts[1]) }} }\n{{ $('Storage API - Get Charity').first().json.annual_report ? `,\n{\n  \"file_data\": {\n    \"mime_type\": \"application/pdf\",\n    \"file_uri\": \"${$('Storage API - Get Charity').first().json.expand.annual_report.gemini_file_uri}\"\n  }\n}` : \"\" }}\n{{ $('Storage API - Get Charity').first().json.financial_report ? `,\n{\n  \"file_data\": {\n    \"mime_type\": \"application/pdf\",\n    \"file_uri\": \"${$('Storage API - Get Charity').first().json.expand.financial_report.gemini_file_uri}\"\n  }\n}` : \"\" }}\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0,\n    \"responseMimeType\": \"application/json\",\n    \"responseJsonSchema\": {{ JSON.stringify($('Binary to Text (JSON schema, Financials)').first().json.data) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        4784
      ],
      "id": "f74f320f-326c-4e5f-a53a-fdc2f4a168b0",
      "name": "Extract Financials",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7EY3kWdzHSKXrfnm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://storage_api:8090/api/collections/organisations/records/{{ $('Storage API - Get Charity Record').first().json.items[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expand",
              "value": "financial_report,annual_report,rem_pkg_review_report"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        4032
      ],
      "id": "a13d6d1e-8b73-4c43-b1cd-47b0f6c38502",
      "name": "Storage API - Get Charity1",
      "credentials": {
        "httpBearerAuth": {
          "id": "WyFKTClpRg732Kwj",
          "name": "Storage API"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7WmUvPfyMRFCI864",
          "mode": "list",
          "cachedResultUrl": "/workflow/7WmUvPfyMRFCI864",
          "cachedResultName": "Ensure File is on Gemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "artifact_id": "={{ $json.expand.financial_report.id }}",
            "storage_api_host": "={{ $('Vars - Storage API').first().json.storage_api_host }}",
            "gemini_file_lifetime_hr": 0
          },
          "matchingColumns": [
            "expand_financial_report_id"
          ],
          "schema": [
            {
              "id": "storage_api_host",
              "displayName": "storage_api_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "artifact_id",
              "displayName": "artifact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "gemini_file_lifetime_hr",
              "displayName": "gemini_file_lifetime_hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        464,
        4144
      ],
      "name": "Call Ensure File is on Gemini",
      "id": "47395209-3b5e-4360-bb57-3c0bd7a4ce12"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7WmUvPfyMRFCI864",
          "mode": "list",
          "cachedResultUrl": "/workflow/7WmUvPfyMRFCI864",
          "cachedResultName": "Ensure File is on Gemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "artifact_id": "={{ $json.expand.annual_report.id }}",
            "storage_api_host": "={{ $('Vars - Storage API').first().json.storage_api_host }}",
            "gemini_file_lifetime_hr": 0
          },
          "matchingColumns": [
            "expand_financial_report_id"
          ],
          "schema": [
            {
              "id": "storage_api_host",
              "displayName": "storage_api_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "artifact_id",
              "displayName": "artifact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "gemini_file_lifetime_hr",
              "displayName": "gemini_file_lifetime_hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        464,
        3920
      ],
      "name": "Call Ensure File is on Gemini1",
      "id": "ba391319-554e-4e59-969c-d57eaa7dca37"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        4032
      ],
      "id": "6aebec43-0ee5-4c18-892c-f4396be962f0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Gemini').first().json.gemini_url }}/{{ $('Vars - Gemini').first().json.gemini_model }}:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\"text\": {{ JSON.stringify($('Call \\'Prompt Injection\\' - Impact').first().json.injected_prompts[0]) }} },\n        {\"text\": {{ JSON.stringify($('Call \\'Prompt Injection\\' - Impact').first().json.injected_prompts[1]) }} }\n{{ $('Storage API - Get Charity').item.json.annual_report ? `,\n{\n  \"file_data\": {\n    \"mime_type\": \"application/pdf\",\n    \"file_uri\": \"${$('Storage API - Get Charity').first().json.expand.annual_report.gemini_file_uri}\"\n  }\n}` : \"\" }}\n{{ $('Storage API - Get Charity').item.json.financial_report ? `,\n{\n  \"file_data\": {\n    \"mime_type\": \"application/pdf\",\n    \"file_uri\": \"${$('Storage API - Get Charity').first().json.expand.financial_report.gemini_file_uri}\"\n  }\n}` : \"\" }}\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0,\n    \"responseMimeType\": \"application/json\",\n    \"responseJsonSchema\": {{ JSON.stringify($('Binary to Text (JSON schema, Impact)').first().json.data) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        4976
      ],
      "id": "17616abf-1a5c-46b0-a946-1ef333a7c234",
      "name": "Extract Impact Metrics",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7EY3kWdzHSKXrfnm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/schemas/{{ $('Vars - Utils API & Schemas').first().json.meta_schema }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1520,
        3328
      ],
      "id": "ef130892-3d7a-4cfe-990f-13068dc5e762",
      "name": "Read JSON schema (Meta)"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1296,
        3328
      ],
      "id": "ec735c1d-0ff4-41a4-8719-49f9ac7bc868",
      "name": "Binary to Text (JSON schema, Meta)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KyDtBHSVI5wyX2KM",
          "mode": "list",
          "cachedResultUrl": "/workflow/KyDtBHSVI5wyX2KM",
          "cachedResultName": "Prepare Prompts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_file_paths": "={{ [\n  \"/home/node/.n8n-files/prompt-templates/meta.system.md\",\n  \"/home/node/.n8n-files/prompt-templates/meta.user.md\"\n] }}",
            "injection_dict": "={{ {\n  STRINGIFIED_JSON_SCHEMA: JSON.stringify($('Binary to Text (JSON schema, Meta)').first().json.data),\n  CHARITY_NAME: $('Exists? (Domains)1').first().json.name.replaceAll(\"'\", \"\\\\'\")\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_file_paths",
              "displayName": "prompt_file_paths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "injection_dict",
              "displayName": "injection_dict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1072,
        3328
      ],
      "id": "b170d9e5-191d-488a-969c-66da3f63d2b5",
      "name": "Call 'Prompt Injection' - Meta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Vars - Utils API & Schemas').first().json.utils_api_host }}/validate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema_name",
              "value": "={{ $('Vars - Utils API & Schemas').first().json.meta_schema }}"
            },
            {
              "name": "data",
              "value": "={{$('Parsed Content (Metadata)').first().json.parsedContentObject}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        3328
      ],
      "id": "ba70bebb-b3e4-4ff1-b41b-5d7af51f37c4",
      "name": "Schema Validation (Metadata)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e2a7b7f-629f-4098-9079-e9ddc54254fd",
              "leftValue": "={{ $json.expand.annual_report }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        3920
      ],
      "id": "043a5fcc-b8f3-4d5b-b8c5-faaa575022b4",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ca7efc9c-92e5-4a6c-a184-901aa6327343",
              "leftValue": "={{ $json.expand.financial_report }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        4144
      ],
      "id": "7390c7f0-b1a1-4612-83c2-6868b413f35d",
      "name": "If1"
    }
  ],
  "connections": {
    "Auth Storage API": {
      "main": [
        [
          {
            "node": "Vars - Utils API & Schemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Try to Create Charity Record": {
      "main": [
        [
          {
            "node": "Storage API - Get Charity Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Storage API - Get Charity Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars - Input Data": {
      "main": [
        [
          {
            "node": "Vars - Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars - Storage API": {
      "main": [
        [
          {
            "node": "Auth Storage API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists? (Domains)1": {
      "main": [
        [
          {
            "node": "Exists? (Financial Report)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Exists? (Annual Report)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read JSON schema (Meta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Get Charity Record": {
      "main": [
        [
          {
            "node": "Extract Charity List item[0]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Get SWD NGO AFR Record": {
      "main": [
        [
          {
            "node": "if (Financial Report) URL exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsed Content (Financials)": {
      "main": [
        [
          {
            "node": "Schema Validation (Financials)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists? (Financials)": {
      "main": [
        [
          {
            "node": "Wait until all analysis done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read JSON schema (Finanicals)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Financials": {
      "main": [
        [
          {
            "node": "Wait until all analysis done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists? (Financial Report)": {
      "main": [
        [
          {
            "node": "Wait until all downloads done",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Storage API - Get SWD NGO AFR Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists? (Annual Report)": {
      "main": [
        [
          {
            "node": "Wait until all downloads done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Storage API - Get NGO AR Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Get NGO AR Record": {
      "main": [
        [
          {
            "node": "if (Annual Report) URL exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists? (Impact)": {
      "main": [
        [
          {
            "node": "Wait until all analysis done",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Read JSON schema (Impact)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Charity List item[0]": {
      "main": [
        [
          {
            "node": "Exists? (Domains)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsed Content (Impact Metrics)": {
      "main": [
        [
          {
            "node": "Schema Validation (Impact)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Impact": {
      "main": [
        [
          {
            "node": "Wait until all analysis done",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Storage API - Get Charity": {
      "main": [
        [
          {
            "node": "Exists? (Financials)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Exists? (Impact)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Exists? (Risk)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Annual Report": {
      "main": [
        [
          {
            "node": "Wait until all downloads done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Financial Report1": {
      "main": [
        [
          {
            "node": "Wait until all downloads done",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "if (Annual Report) URL exists": {
      "main": [
        [
          {
            "node": "Download PDF & OCR (Annual Report)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait until all downloads done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF & OCR (Annual Report)": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Annual Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if (Financial Report) URL exists": {
      "main": [
        [
          {
            "node": "Download PDF & OCR (Financial Report)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait until all downloads done",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download PDF & OCR (Financial Report)": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Financial Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait until all downloads done": {
      "main": [
        [
          {
            "node": "Storage API - Get Charity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars - PDF API": {
      "main": [
        [
          {
            "node": "Storage API - Try to Create Charity Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists? (Risk)": {
      "main": [
        [
          {
            "node": "Wait until all analysis done",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Read JSON schema (Risk)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsed Content (Risk)": {
      "main": [
        [
          {
            "node": "Schema Validation (Risk)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Risk": {
      "main": [
        [
          {
            "node": "Wait until all analysis done",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Parsed Content (Metadata)": {
      "main": [
        [
          {
            "node": "Schema Validation (Metadata)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Metadata": {
      "main": [
        [
          {
            "node": "Exists? (Financial Report)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Exists? (Annual Report)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON schema (Finanicals)": {
      "main": [
        [
          {
            "node": "Binary to Text (JSON schema, Financials)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Text (JSON schema, Financials)": {
      "main": [
        [
          {
            "node": "Call 'Prompt Injection' - Financials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON schema (Impact)": {
      "main": [
        [
          {
            "node": "Binary to Text (JSON schema, Impact)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Text (JSON schema, Impact)": {
      "main": [
        [
          {
            "node": "Call 'Prompt Injection' - Impact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON schema (Risk)": {
      "main": [
        [
          {
            "node": "Binary to Text (JSON schema, Risk)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Text (JSON schema, Risk)": {
      "main": [
        [
          {
            "node": "Call 'Prompt Injection' - Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars - Utils API & Schemas": {
      "main": [
        [
          {
            "node": "Vars - PDF API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Validation (Financials)": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Financials",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Schema Validation (Impact)": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Impact",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Schema Validation (Risk)": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Risk",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait until all analysis done": {
      "main": [
        [
          {
            "node": "Storage API - Get Charity for analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Get Charity for analytics": {
      "main": [
        [
          {
            "node": "Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analytics": {
      "main": [
        [
          {
            "node": "Schema Validation (Analytics)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Validation (Analytics)": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Update Charity - Analytics": {
      "main": [
        [
          {
            "node": "Convert to File (output Organisation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File (output Organisation)": {
      "main": [
        [
          {
            "node": "Write to data/organisations/{id}.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt Injection' - Financials": {
      "main": [
        [
          {
            "node": "Extract Financials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt Injection' - Impact": {
      "main": [
        [
          {
            "node": "Extract Impact Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt Injection' - Risk": {
      "main": [
        [
          {
            "node": "Extract Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Metadata": {
      "main": [
        [
          {
            "node": "Parsed Content (Metadata)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Risk": {
      "main": [
        [
          {
            "node": "Parsed Content (Risk)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vars - Gemini": {
      "main": [
        [
          {
            "node": "Vars - Storage API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Vars - Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Financials": {
      "main": [
        [
          {
            "node": "Parsed Content (Financials)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage API - Get Charity1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ensure File is on Gemini": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call Ensure File is on Gemini1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Storage API - Get Charity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Impact Metrics": {
      "main": [
        [
          {
            "node": "Parsed Content (Impact Metrics)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON schema (Meta)": {
      "main": [
        [
          {
            "node": "Binary to Text (JSON schema, Meta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Text (JSON schema, Meta)": {
      "main": [
        [
          {
            "node": "Call 'Prompt Injection' - Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt Injection' - Meta": {
      "main": [
        [
          {
            "node": "Find Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Validation (Metadata)": {
      "main": [
        [
          {
            "node": "Storage API - Update Charity - Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call Ensure File is on Gemini1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Call Ensure File is on Gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fc659908-3ca4-49fd-a6c3-765b2c7e557d",
  "activeVersionId": "6b847f33-b5a3-4948-82c7-d178a05c4b29",
  "versionCounter": 349,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-24T15:31:37.646Z",
      "createdAt": "2026-02-24T15:31:37.646Z",
      "role": "workflow:owner",
      "workflowId": "SUjUpjve9Vj6aJSbbuIWL",
      "projectId": "WF5JYzstr3wvgt36",
      "project": {
        "updatedAt": "2026-02-24T15:53:03.896Z",
        "createdAt": "2026-02-24T15:31:35.715Z",
        "id": "WF5JYzstr3wvgt36",
        "name": "Po Man CHENG <poman+n8n@outlook.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ff0d1850-94c4-4b5b-976a-8741d5d8d996"
      }
    }
  ]
}